[submodule "external/smtlib"]
	path = external/smtlib
	url = https://gitlab.com/dannybpoulsen/smtlib.git
[submodule "external/base64"]
	path = external/base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
