
     #include <concepts>
     #include "minimc/support/feedback.hpp"
{% for N in ISA.getExpressionsFromGroups(["TAC","Comparison","Cast","Unary","Pointer","memory"]) %}
     class {{N.getName()}}Expr : public Value {
     	   public:
     	   {{N.getName()}}Expr ({%for o in N.getNonResOperands () %} Value_ptr {{o.getName()}} {%if not loop.last %},{%endif %} {%endfor %}
  {%if N.extratypes () | length > 0 %}
    ,
    {%for o in N.extratypes () %}
      Type_ptr {{o}}
      {%if not loop.last %},{%endif %}
    {% endfor %}
  {%endif %}
	   
);
	   {%for o in N.getNonResOperands () %}
	   auto& {{o.getName()}} () { return *_{{o.getName()}};}
	   const auto& {{o.getName()}}  ()const  { return *_{{o.getName()}};}
	   
	   {%endfor %}

	   std::ostream& output(std::ostream& os) const override {
	   	return os << "(" << "{{N.getName()}}" <<  {%for o in N.getNonResOperands () %} *_{{o.getName ()}} << {%endfor%} ")";
      	   }		
      
           {%for o in N.extratypes () %}

	    auto& {{o}} () { return _{{o}};}
	   const auto& {{o}}  ()const  { return _{{o}};}
	   
	   {%endfor%}
	   

	   private:

	   {%for o in N.getNonResOperands () %}
	   Value_ptr _{{o.getName()}};
	   {%endfor%}
	   {%for o in N.extratypes () %}
	   Type_ptr _{{o}};
	   {%endfor%}
	      
     };

     {%endfor %}

     

  /*  enum class CastOps {
     {% for N in ISA.getExpressionsFromGroups (["Cast"]) %}{{N.getName()}} {% if not loop.last %}, {%endif %}
     {% endfor %}    	 	 
    };
    
    template<CastOps>
    struct CastOpsDetails {};

     {% for N in ISA.getExpressionsFromGroups (["Cast"]) %}
     template<> struct CastOpsDetails<CastOps::{{N.getName()}}> {
      		static consteval auto text () {return "{{N.getName()}}";}
     }; 
     {% endfor %}
     
    template<CastOps op>
    class CastExpression : public Value {
    public:
    CastExpression (MiniMC::Model::Value_ptr v, MiniMC::Model::Type_ptr to);
    const auto& getFrom () const { return *from_expr;}
    const auto& op1 () const { return *from_expr;}
    	  
    const auto& getToType() const {return to_type;}
    auto& getFrom ()  { return *from_expr;}
    
    std::ostream& output(std::ostream& os) const override {
    		  return os << "(" <<CastOpsDetails<op>::text()   << *from_expr << " to " << *to_type << ")";
      }	
    private:
	MiniMC::Model::Value_ptr from_expr;
	MiniMC::Model::Type_ptr to_type;
    };
    */
    class ExtractValueExpr : public Value {
    public:
	ExtractValueExpr (Value_ptr aggr, Value_ptr off, Type_ptr type);
	auto& aggregate ()  const {return *_aggregate;}
	auto& offset ()  const {return *_offset;}
	const auto& getExtractType () const {return type;}
	std::ostream& output(std::ostream& os) const override {
    		return os << "(ExtractValue "  << *_aggregate << " " <<*_offset <<   *type << ")";
      	}
    private:
	MiniMC::Model::Value_ptr _aggregate;
	MiniMC::Model::Value_ptr _offset;
	MiniMC::Model::Type_ptr type;
    };

    class InsertValueExpr : public Value {
    public:
    InsertValueExpr (Value_ptr aggr, MiniMC::Model::Value_ptr off, Value_ptr inse);
	auto& aggregate ()  const {return *_aggregate;}
	auto& offset ()  const {return *_offset;}
	auto& insertee () const {return *_insertee;}
         std::ostream& output(std::ostream& os) const override {
    		return os << "(InsertValue "  << *_aggregate << " " <<*_offset <<  *_insertee << ")";
      	}
private	:
	MiniMC::Model::Value_ptr _aggregate;
	MiniMC::Model::Value_ptr _offset;
	MiniMC::Model::Value_ptr _insertee;
    
    };   
    
    class LoadExpr : public Value {
    public:
    LoadExpr (MiniMC::Model::Value_ptr mem, MiniMC::Model::Value_ptr v, MiniMC::Model::Type_ptr to);
    const auto& getToType() const {return to_type;}
    auto& addr ()  { return *addr_expr;}
    const auto& addr () const { return *addr_expr;}

    auto& mem ()  { return *mem_expr;}
    const auto& mem () const { return *mem_expr;}
    

    std::ostream& output(std::ostream& os) const override {
    		return os << "(Load "  << *mem_expr << " " <<*addr_expr << " to " << *to_type << ")";
      }	
    private:

	MiniMC::Model::Value_ptr addr_expr;
	MiniMC::Model::Value_ptr mem_expr;
	MiniMC::Model::Type_ptr to_type;
    };

    class StoreExpr : public Value {
    public:
    StoreExpr (MiniMC::Model::Value_ptr storeto, MiniMC::Model::Value_ptr addr, MiniMC::Model::Value_ptr storee);
    auto& addr ()  { return *addr_expr;}
    const auto& addr () const { return *addr_expr;}
    
    auto& storeto ()  { return *store_to_expr;}
    const auto& storeto () const { return *store_to_expr;}

    auto& storee ()  { return *_storee;}
    const auto& storee () const { return *_storee;}
    
    
    std::ostream& output(std::ostream& os) const override {
    		return os << "(Store "  << *store_to_expr << " " <<*addr_expr << "  " << *_storee << ")";
      }	
    private:

	MiniMC::Model::Value_ptr store_to_expr;
	MiniMC::Model::Value_ptr addr_expr;
	MiniMC::Model::Value_ptr _storee;
    };


    class PtrToPtr32Expr : public Value{
    public:
	PtrToPtr32Expr (MiniMC::Model::Value_ptr l);
    	auto& conv () {return *_conv;}
	const auto& conv () const {return *_conv;}
	 std::ostream& output(std::ostream& os) const override {
    	 	return os << "(PtrToPtr32 "  << *_conv <<  ")";
      }	
	private:
	MiniMC::Model::Value_ptr _conv;
    };   

    class Ptr32ToPtrExpr : public Value {
    public:
	Ptr32ToPtrExpr (MiniMC::Model::Value_ptr l);
    	auto& conv () {return *_conv;}
		const auto& conv () const {return *_conv;}	
	std::ostream& output(std::ostream& os) const override {
    	 	return os << "(Ptr32ToPtr "  << *_conv << ")";
      }	
		private:
	MiniMC::Model::Value_ptr _conv;
    };  

     using Bool = TConstant<MiniMC::BV8, true>;
    using I8Integer = TConstant<MiniMC::BV8>;
    using I16Integer = TConstant<MiniMC::BV16>;
    using I32Integer = TConstant<MiniMC::BV32>;
    using I64Integer = TConstant<MiniMC::BV64>;
    using Pointer = TConstant<MiniMC::Model::pointer64_t>;
    using Pointer32 = TConstant<MiniMC::Model::pointer32_t>;
    
    template<>
    inline Type_ptr TConstant<MiniMC::BV8,true>::_inner_type () {return MiniMC::Model::BoolType::get();}

    template<>
    inline Type_ptr TConstant<MiniMC::BV8,false>::_inner_type () {return MiniMC::Model::I8Type::get();}

    template<>
    inline Type_ptr TConstant<MiniMC::BV16,false>::_inner_type () {return MiniMC::Model::I16Type::get();}

    template<>
    inline Type_ptr TConstant<MiniMC::BV32,false>::_inner_type () {return MiniMC::Model::I32Type::get();}

    template<>
    inline Type_ptr TConstant<MiniMC::BV64,false>::_inner_type () {return MiniMC::Model::I64Type::get();}

    template<>   
    inline Type_ptr TConstant<MiniMC::Model::pointer64_t,false>::_inner_type () {return MiniMC::Model::PointerType::get();}

    template<>   
    inline Type_ptr TConstant<MiniMC::Model::pointer32_t,false>::_inner_type () {return MiniMC::Model::Pointer32Type::get();}
    	   
/*
   {% for N in ISA.getExpressionsFromGroups(["Cast"]) %}using {{N.getName()}}Expr = CastExpression<CastOps::{{N.getName()}}>;
   {% endfor %}
  */ 

template<class... Args>      
struct AutoIndexer {
  template<class T>
  static constexpr auto index () {return index_impl<0,T,Args...> ();}

private:
  template<type_id_t i , class T, class F, class... args>
  static constexpr auto  index_impl ()  {
    if constexpr ( std::is_same_v<T,F>) {
      return i;
    }
    else {
      if constexpr (sizeof...(args) == 0)
	return []<bool b = false> {static_assert (b);}();
      else {
      
	return index_impl<i+1,T,args...> ();
      }
    }
  }

};


struct ValueInfo {
private:
  using _indexer = AutoIndexer<
    {% for N in plain_non_generated_names  %}{{N}}, {% endfor %}
    {% for N in ISA.getExpressionsFromGroups(["TAC","Cast","Comparison","Unary","Pointer","Aggregate","memory"]) %}{{N.getName()}}Expr{% if not loop.last %},{%endif%}
    {% endfor %}
    
    >;
public:
  template <class T>
  static constexpr auto type_t () {
    return _indexer::index<T> ();
  }
};

    
    template <class T, bool is_bool>
    inline TConstant<T, is_bool>::TConstant(T val) : Constant(ValueInfo::type_t<TConstant<T, is_bool>>()),
                                                     value(val) {
						     setType(_inner_type());
    }
    
    inline SymbolicConstant::SymbolicConstant (MiniMC::Model::Symbol val)  : Constant(ValueInfo::type_t<SymbolicConstant>()), symbol(val) {
    	    auto type = std::visit (MiniMC::Support::Overload {
	        	  [](const MiniMC::Model::Register_wptr&r ) ->MiniMC::Model::Type_ptr {return r.lock()->getType();},
      	  		  [](const MiniMC::Model::Function_wptr&) ->MiniMC::Model::Type_ptr{return MiniMC::Model::PointerType::get();},
     	  		  [](const MiniMC::Model::Location_wptr&) ->MiniMC::Model::Type_ptr {return MiniMC::Model::PointerType::get();},
	  		  [](const MiniMC::Model::HeapBlock_wptr&) ->MiniMC::Model::Type_ptr {return MiniMC::Model::PointerType::get();},
	  		  [](const std::monostate& ) ->MiniMC::Model::Type_ptr {return MiniMC::Model::PointerType::get();}
	  	}
	    ,val.getUserData());
	    setType(type);
    }

    {% for N in ISA.getExpressionsFromGroups (["TAC","Cast","Comparison","Unary","Pointer","memory"])%}
       
    inline {{N.getName()}}Expr::{{N.getName()}}Expr ({%for o in N.getNonResOperands () %} Value_ptr {{o.getName()}} {%if not loop.last %},{%endif %} {%endfor %}  {%if N.extratypes () | length > 0 %}
    ,
    {%for o in N.extratypes () %}
      Type_ptr {{o}}
      
      {%if not loop.last %},{%endif %}
    {% endfor %}
  {%endif %}
) : Value(ValueInfo::type_t<{{N.getName()}}Expr>()){%if N.getNonResOperands ()|length > 0 %}, {%for o in N.getNonResOperands () %} _{{o.getName()}}({{o.getName()}}) {%if not loop.last %},{%endif%}{%endfor %} {%endif %}  {%if N.extratypes () | length > 0 %}
    ,
    {%for o in N.extratypes () %}
      _{{o}}({{o}})
      {%if not loop.last %},{%endif %}
    {% endfor %}
  {%endif %}  {}

    {%endfor %}

    /*template<CastOps c>
    inline CastExpression<c>::CastExpression (MiniMC::Model::Value_ptr v, MiniMC::Model::Type_ptr to) : Value(ValueInfo::type_t<CastExpression<c>> ()),from_expr(v),to_type(to) {}
    */
    inline LoadExpr::LoadExpr (MiniMC::Model::Value_ptr mem,MiniMC::Model::Value_ptr v, MiniMC::Model::Type_ptr to) : Value(ValueInfo::type_t<LoadExpr> ()),addr_expr(v),mem_expr(mem),to_type(to) {}

    inline StoreExpr::StoreExpr (MiniMC::Model::Value_ptr storeto,MiniMC::Model::Value_ptr addr, MiniMC::Model::Value_ptr storee) : Value(ValueInfo::type_t<StoreExpr> ()),store_to_expr(storeto),addr_expr(addr),_storee(storee) {}


    inline Ptr32ToPtrExpr::Ptr32ToPtrExpr (MiniMC::Model::Value_ptr conv) : Value(ValueInfo::type_t<Ptr32ToPtrExpr> ()),_conv(conv) {}
    inline PtrToPtr32Expr::PtrToPtr32Expr (MiniMC::Model::Value_ptr conv) : Value(ValueInfo::type_t<Ptr32ToPtrExpr> ()),_conv(conv) {}
    

    inline ExtractValueExpr::ExtractValueExpr (Value_ptr aggr, Value_ptr off, Type_ptr type) : Value(ValueInfo::type_t<ExtractValueExpr>()),_aggregate(aggr),_offset(off),type(type) {}

inline InsertValueExpr::InsertValueExpr (Value_ptr aggr, Value_ptr off, Value_ptr inse) : Value(ValueInfo::type_t<InsertValueExpr>()),_aggregate(aggr),_offset(off),_insertee(inse) {}

    
    template<class A>
    constexpr bool is_root = std::is_same_v<std::remove_const_t<A>,Bool>
      || std::is_same_v<std::remove_const_t<A>,I8Integer>
      || std::is_same_v<std::remove_const_t<A>,I16Integer>
      || std::is_same_v<std::remove_const_t<A>,I32Integer>
      || std::is_same_v<std::remove_const_t<A>,I64Integer>
      || std::is_same_v<std::remove_const_t<A>,Pointer>
      || std::is_same_v<std::remove_const_t<A>,Pointer32>
      || std::is_same_v<std::remove_const_t<A>,SymbolicConstant>
      || std::is_same_v<std::remove_const_t<A>,Register>
      || std::is_same_v<std::remove_const_t<A>,AggregateConstant>      
      ;

    template<class A>
   constexpr bool is_register = std::is_same_v<std::remove_const_t<A>,Register>;

    template<class A>
   constexpr bool is_symbolic = std::is_same_v<std::remove_const_t<A>,SymbolicConstant>;
   

    template<class A>
    constexpr bool is_integer = std::is_same_v<std::remove_const_t<A>,I8Integer>
      || std::is_same_v<std::remove_const_t<A>,I16Integer>
      || std::is_same_v<std::remove_const_t<A>,I32Integer>
      || std::is_same_v<std::remove_const_t<A>,I64Integer>;


    {%if ISA.getExpressionsFromGroups(["TAC"])|length > 0 %}  
    template<class A>
    constexpr bool is_bin_arith =
      {% for N in ISA.getExpressionsFromGroups(["TAC"]) %} std::is_same_v<std::remove_const_t<A>,{{N.getName()}}Expr> {%if not loop.last %} || {%endif%} 
      {% endfor %}
    ;
    {%endif%}
    {%if ISA.getExpressionsFromGroups(["Comparison"])|length > 0 %}  
    template<class A>
    constexpr bool is_bin_cmp = 
      {% for N in ISA.getExpressionsFromGroups(["Comparison"]) %} std::is_same_v<std::remove_const_t<A>,{{N.getName()}}Expr> {%if not loop.last %} || {%endif%} 
      {% endfor %}
    
    ;
    
    template<class A>
    constexpr bool is_unary = 
      {% for N in ISA.getExpressionsFromGroups(["Unary"]) %} std::is_same_v<std::remove_const_t<A>,{{N.getName()}}Expr> {%if not loop.last %} || {%endif%} 
      {% endfor %}
    
    ;

    {%if cast_ops|length > 0 %}  
    template<class A>
    constexpr bool is_cast =
      {% for N in ISA.getExpressionsFromGroups(["Cast"]) %} std::is_same_v<std::remove_const_t<A>,{{N.getName()}}Expr> {%if not loop.last %} || {%endif%} 
      {% endfor %}
    ;
    {%endif %}
    
    {%endif %}
    
    template<class... Ts> struct Overload : Ts... {
      using Ts::operator()...;

    };
    
    template<class T,bool consts>
    using CType = typename std::conditional<consts,const T,T>::type; 
    

template <class F, class... Vs>
struct Dispatcher {
  template<class... T>
  static auto dispatch (F f,Vs&... vs) {return std::invoke(f,(vs.template as<T> ())...);}
};

template <class F, class... Vs>
struct LocateDispatcher {
  
  template<class VV,class... VVs>
  struct Locate_impl {
    template<class... T>
    static auto locate_impl (VV& vv, VVs&... vs) {
      switch (vv.type_t ()) {
	{%for N in plain_non_generated_names %}case ValueInfo::type_t<{{N}}> ():
	if constexpr (sizeof...(VVs) == 0)
	    return &Dispatcher<F,Vs...>::template dispatch<T...,{{N}}>;
	else return Locate_impl<VVs...>::template locate_impl<T...,{{N}}> (vs...);    	
	{%endfor%}
	{%for N in ISA.getExpressionsFromGroups(["TAC","Comparison","Unary","Cast","Pointer","Aggregate","memory"]) %}case ValueInfo::type_t<{{N.getName()}}Expr> ():
	if constexpr (sizeof...(VVs) == 0)
	  return &Dispatcher<F,Vs...>::template dispatch<T...,{{N.getName()}}Expr>;
	else return Locate_impl<VVs...>::template locate_impl<T...,{{N.getName()}}Expr> (vs...);    	
	{%endfor%}
default:		
#ifdef NDEBUG
	std::unreachable();
#else
	throw MiniMC::Support::Exception ("Missing category");
#endif
      }
      
    }
  };

  
  
  static auto locate (Vs&... vs) {
    return Locate_impl<Vs...>::locate_impl (vs...);
  }
  
};


template <class F,class... V>
auto visitValueT(F&& f,V&... v)  {
  return (*LocateDispatcher<F,V...>::locate (v...)) (f,v...);
}



template <class F, class... Vals>
auto visitValue(F&& f,Vals&&... v) {
  return visitValueT(std::forward<F>(f),std::forward<Vals>(v)...);
}


template <class F>
void visitSubExpressions(F&& f,const MiniMC::Model::Value& vv) {
      switch (vv.type_t ()) {
      	{%for N in plain_non_generated_names %}case ValueInfo::type_t<{{N}}> ():
	 f(vv.template as<{{N}}> ());
	break;
	{%endfor%}
	{%for N in ISA.getExpressionsFromGroups(["TAC","Comparison","Unary","Cast","Pointer","Aggregate","memory"]) %}case ValueInfo::type_t<{{N.getName()}}Expr> ():
	{
		auto& nn = vv.template as<{{N.getName()}}Expr> ();
		{%for K in N.getNonResOperands () %}
		visitSubExpressions (f,nn.{{K.getName()}} ());
		{%endfor %}
		f(nn);
		break;
		
	}	
	{%endfor%}	  

     }    
}
    
    class ExpressionBuilder {
    public:		    
      ExpressionBuilder()  {}
      void I8 (MiniMC::BV8 v)  {stack.push (I8Integer::make(v));}
      void I16 (MiniMC::BV16 v)  {stack.push (I16Integer::make(v));}
      void I32 (MiniMC::BV32 v)  {stack.push (I32Integer::make(v));}
      void I64 (MiniMC::BV64 v)  {stack.push (I64Integer::make(v));}
      void symbol (MiniMC::Model::Symbol s) {stack.push(SymbolicConstant::make(s));}      

      {%for N in ISA.getExpressionsFromGroups(["TAC","Comparison","Pointer","memory","Unary"]) %}
      void {{N.getName()}} () {
      	   {%for I in N.getNonResOperands() | reverse %}
	   	 auto {{ I.getName() }} = stack.top();stack.pop();
	   {%endfor %}
	   /*auto r = stack.top();stack.pop ();
	   auto l = stack.top();stack.pop ();*/
	   stack.push(std::make_shared<{{N.getName()}}Expr>(
		{%for I in N.getNonResOperands() %}
	   	 {{ I.getName() }}
		 {%if not loop.last %}, {%endif%}
		 {% endfor %}
	   
		)
	   
	   );
       }
       {%endfor%}    


       void Ptr32ToPtr () {
      	   auto l = stack.top();stack.pop ();
	   stack.push(std::make_shared<Ptr32ToPtrExpr>(l));
       }

       void PtrToPtr32 () {
      	   auto l = stack.top();stack.pop ();
	   stack.push(std::make_shared<PtrToPtr32Expr>(l));
       }

       void Load () {
       	    auto addr = stack.top();stack.pop();
	    auto mem = stack.top();stack.pop();
	    auto type = types.top();types.pop();
	    stack.push(std::make_shared<LoadExpr> (mem,addr,type));
       }
       

       void Store () {
       	    auto storee = stack.top();stack.pop();
	    auto addr = stack.top();stack.pop();
	    auto mem = stack.top();stack.pop();
	    
	    stack.push(std::make_shared<StoreExpr> (mem,addr,storee));
       }

        void InsertValue () {
       	    auto insertee = stack.top();stack.pop();
	    auto offset = stack.top();stack.pop();
	    auto aggr = stack.top();stack.pop();
	    stack.push(std::make_shared<InsertValueExpr> (aggr,offset,insertee));
       }

       void ExtractValue () {
       	    auto offset = stack.top();stack.pop();
	    auto aggr = stack.top();stack.pop();
	    auto type = types.top();types.pop();
	    stack.push(std::make_shared<ExtractValueExpr> (aggr,offset,type));
       }       

      {%for N in ISA.getExpressionsFromGroups(["Cast"]) %}
      void {{N.getName()}} () {
      	   auto f = stack.top();stack.pop ();
	   auto type = types.top();types.pop(); 
	   stack.push(std::make_shared<{{N.getName()}}Expr>(f,type));
       }
       {%endfor%}    

     
      void pushI8Type () {
      	   types.push (I8Type::get());
	   }	      

     void pushI16Type () {
      	   types.push (I16Type::get());
      }

      void pushI32Type () {
      	   types.push (I32Type::get());
      }

      void pushI64Type () {
      	   types.push (I64Type::get());
      }

      void pushPointerType () {
      	   types.push (PointerType::get());
      }     
      
      void pushAggregateType (std::size_t n) {
      	   types.push (AggregateType::get(n));
      }     

      auto& operator<< (Value_ptr ptr) {
      	    stack.push(std::move(ptr));
	    return *this;
      }

      auto& operator<< (Type_ptr ptr) {
      	    types.push(std::move(ptr));
	    return *this;
      }
      
      auto get() {auto val = stack.top(); stack.pop(); return val;}
    private:
      std::stack<Value_ptr> stack;
      std::stack<Type_ptr> types;

};

struct ExprSimplifier  {
       ExprSimplifier()   {}
  MiniMC::Model::Value_ptr  Simplify ( MiniMC::Model::Value& v) const {
  			    MiniMC::Support::SubProgresSenderClearer<std::string> clear (std::string ("Simplifying")); 
  return visitValue (*this,v);
  }


  MiniMC::Model::Value_ptr operator() (MiniMC::Model::Register& i) const {return i .shared_from_this();}
  MiniMC::Model::Value_ptr operator() (MiniMC::Model::Bool& i) const {return MiniMC::Model::Bool::make(i.getValue());}
	

  MiniMC::Model::Value_ptr operator() (MiniMC::Model::I8Integer& i) const {return MiniMC::Model::I8Integer::make(i.getValue());}	
  MiniMC::Model::Value_ptr operator() (MiniMC::Model::I16Integer& i) const {return MiniMC::Model::I16Integer::make(i.getValue());}
  MiniMC::Model::Value_ptr operator() (MiniMC::Model::I32Integer& i) const {return MiniMC::Model::I32Integer::make(i.getValue());}
  MiniMC::Model::Value_ptr operator() (MiniMC::Model::I64Integer& i) const {return MiniMC::Model::I64Integer::make(i.getValue());}
  MiniMC::Model::Value_ptr operator() (MiniMC::Model::Pointer& i) const {return MiniMC::Model::Pointer::make(i.getValue());}
  MiniMC::Model::Value_ptr operator() (MiniMC::Model::Pointer32& i) const {return MiniMC::Model::Pointer32::make(i.getValue());}
  MiniMC::Model::Value_ptr operator() (MiniMC::Model::SymbolicConstant& i) const {return MiniMC::Model::SymbolicConstant::make(i.getValue());}
  MiniMC::Model::Value_ptr operator() (MiniMC::Model::Undef& i) const {return MiniMC::Model::Undef::make(i.getType());}
  MiniMC::Model::Value_ptr operator() (MiniMC::Model::AggregateConstant& i) const {
  auto aggr = i.getData();
return MiniMC::Model::AggregateConstant::make(std::move(aggr));}
  
  MiniMC::Model::Value_ptr operator() (MiniMC::Model::PtrToPtr32Expr& i) const {return MiniMC::Model::makeExpr<MiniMC::Model::PtrToPtr32Expr> (Simplify (i.conv()));}
  MiniMC::Model::Value_ptr operator() (MiniMC::Model::Ptr32ToPtrExpr& i) const {return MiniMC::Model::makeExpr<MiniMC::Model::Ptr32ToPtrExpr> (Simplify (i.conv()));}
						 			     
						   
	{% for i in ISA.getPseudoInstructions () %}
	{%if i.isAssignConvertible () %}
	MiniMC::Model::Value_ptr  operator() ({{i.getName ()}}Expr& ) const;
	
	{%endif %}
	{%endfor %}
};


template <class T>
T& Value::as () {
  if (type_t () == ValueInfo::type_t<T> ())
    return static_cast<T&> (*this);
  else throw
	 MiniMC::Support::Exception ("Error");
}

template <class T>
const T& Value::as () const {
  if (type_t () == ValueInfo::type_t<T> ())
    return static_cast<const T&> (*this);
  else throw
	 MiniMC::Support::Exception ("Error");
}

template<class T>
concept Integer = std::is_same_v<T,I8Integer> || std::is_same_v<T,I16Integer> || std::is_same_v<T,I32Integer>  || std::is_same_v<T,I64Integer>;
