enum class BinOps {
     {% for N in all_bin_ops %}{{N}} {% if not loop.alast %}, {%endif %}
     {% endfor %}
    };

    template<BinOps>
    struct BinOpsDetails {};

     {% for N in all_bin_ops %}
     template<> struct BinOpsDetails<BinOps::{{N}}> {
      		static consteval auto text () {return "{{N}}";}
     }; 
     {% endfor %}
    
    
    template<BinOps op>
    class BinaryExpression : public Value{
    public:
      BinaryExpression (Value_ptr l, Value_ptr r);

      auto& getLeft () {
        return *left;
      }

      auto& getRight () {
	return *right;
      }
      
      const auto& getLeft () const{
	return *left;
      }

      const auto& getRight () const {
	return *right;
      }
      
      std::ostream& output(std::ostream& os) const override {
	return os << "(" <<BinOpsDetails<op>::text()   << *left << " " << *right <<  ")";
      }
      
    private:
      Value_ptr left;
      Value_ptr right;
    };

    enum class UnaryOps {
     {% for N in all_unary_ops %}{{N}} {% if not loop.alast %}, {%endif %}
     {% endfor %}
    };

    template<UnaryOps>
    struct UnaryOpsDetails {};

     {% for N in all_unary_ops %}
     template<> struct UnaryOpsDetails<UnaryOps::{{N}}> {
      		static consteval auto text () {return "{{N}}";}
     }; 
     {% endfor %}
    
    template<UnaryOps op>
    class UnaryExpression : public Value{
    public:
      UnaryExpression (Value_ptr l);

      auto& getInner () {
        return *left;
      }

	
     const auto& getLeft () const{
	return *left;
      }

      
      std::ostream& output(std::ostream& os) const override {
	return os << "(" <<UnaryOpsDetails<op>::text()   << *left << ")";
      }
      
    private:
      Value_ptr left;
    };

    using Bool = TConstant<MiniMC::BV8, true>;
    using I8Integer = TConstant<MiniMC::BV8>;
    using I16Integer = TConstant<MiniMC::BV16>;
    using I32Integer = TConstant<MiniMC::BV32>;
    using I64Integer = TConstant<MiniMC::BV64>;
    using Pointer = TConstant<MiniMC::Model::pointer64_t>;
    using Pointer32 = TConstant<MiniMC::Model::pointer32_t>;
    using SymbolicConstant = TConstant<MiniMC::Model::Symbol>;
    
    	  
   {% for N in all_bin_ops %}using {{N}}Expr = BinaryExpression<BinOps::{{N}}>;
   {% endfor %}

   {% for N in all_unary_ops %}using {{N}}Expr = UnaryExpression<UnaryOps::{{N}}>;
   {% endfor %}
   
    
    template<type_id_t i , class T, class F, class... Args>
    constexpr auto  auto_index ()  {
      if constexpr ( std::is_same_v<T,F>) {
	return i;
      }
      else {
	return auto_index<i+1,T,Args...> ();
      }
    }
    
    template<type_id_t i , class T, class F>
    constexpr auto  auto_index ()  {
      if constexpr ( std::is_same_v<T,F>) {
	return i;
      }
      else {
	return []<bool b = false> {static_assert (b);}();
      }
    }
    
    template <class T>
    struct ValueInfo {
      static constexpr auto type_t () {
	return auto_index<0,T,
			  I8Integer,
			  I16Integer,
			  I32Integer,
			  I64Integer,
			  Bool,
			  Pointer,
			  Pointer32, 
			  AggregateConstant,
			  Register,
			  Undef,
			  SymbolicConstant,
			  {% for N in all_bin_ops+all_unary_ops %}{{N}}Expr{% if not loop.last %},{%endif%}
			  {% endfor %}
			  
			  > ();
      }
    };
    
    
    template <class T, bool is_bool>
    inline TConstant<T, is_bool>::TConstant(T val) : Constant(ValueInfo<TConstant<T, is_bool>>::type_t()),
                                                     value(val) {
    }

    template <BinOps b>
    inline BinaryExpression<b>::BinaryExpression(Value_ptr left, Value_ptr right) : Value(ValueInfo<BinaryExpression<b>>::type_t()),
										    left(left),right(right) {
    }

    template <UnaryOps b>
    inline UnaryExpression<b>::UnaryExpression(Value_ptr left) : Value(ValueInfo<UnaryExpression<b>>::type_t()),
										    left(left) {
    }

    template<class A>
    constexpr bool is_root = std::is_same_v<std::remove_const_t<A>,Bool>
      || std::is_same_v<std::remove_const_t<A>,I8Integer>
      || std::is_same_v<std::remove_const_t<A>,I16Integer>
      || std::is_same_v<std::remove_const_t<A>,I32Integer>
      || std::is_same_v<std::remove_const_t<A>,I64Integer>
      || std::is_same_v<std::remove_const_t<A>,Pointer>
      || std::is_same_v<std::remove_const_t<A>,Pointer32>
      || std::is_same_v<std::remove_const_t<A>,SymbolicConstant>
      || std::is_same_v<std::remove_const_t<A>,Register>
      || std::is_same_v<std::remove_const_t<A>,AggregateConstant>      
      || std::is_same_v<std::remove_const_t<A>,Undef>      
      ;

    {%if arit_ops|length > 0 %}  
    template<class A>
    constexpr bool is_bin_arith =
      {% for N in arit_ops %} std::is_same_v<std::remove_const_t<A>,{{N}}Expr> {%if not loop.last %} || {%endif%} 
      {% endfor %}
    ;
    {%endif%}
    {%if cmp_ops|length > 0 %}  
    template<class A>
    constexpr bool is_bin_cmp = 
      {% for N in cmp_ops %} std::is_same_v<std::remove_const_t<A>,{{N}}Expr> {%if not loop.last %} || {%endif%} 
      {% endfor %}
    
    ;

    template<class A>
    constexpr bool is_unary = 
      {% for N in all_unary_ops %} std::is_same_v<std::remove_const_t<A>,{{N}}Expr> {%if not loop.last %} || {%endif%} 
      {% endfor %}
    
    ;

    {%endif %}
    
    template<class... Ts> struct Overload : Ts... {
      using Ts::operator()...;

    };

    template<class T,bool consts>
    using CType = typename std::conditional<consts,const T,T>::type; 
    
    template<class E,class Res = void,bool cconsts =true>
    concept TValueVisitator = requires(const E e,
				    CType<MiniMC::Model::I8Integer,cconsts>& i8,
				    CType<MiniMC::Model::I16Integer,cconsts> i16,
				    CType<MiniMC::Model::I32Integer,cconsts> i32,
				    CType<MiniMC::Model::I64Integer,cconsts> i64,
				    CType<MiniMC::Model::Bool,cconsts> b,
				    CType<MiniMC::Model::Pointer,cconsts> ptr,
				    CType<MiniMC::Model::Pointer32,cconsts> ptr32,
				    CType<MiniMC::Model::AggregateConstant,cconsts> aggrc,
				    CType<MiniMC::Model::Register,cconsts> reg,
				    CType<MiniMC::Model::Undef,cconsts> und,
				    CType<MiniMC::Model::SymbolicConstant,cconsts> sc,
				    {%for N in all_bin_ops %}
        			    CType<MiniMC::Model::{{N}}Expr,cconsts> o{{loop.index}} {%if not loop.last %}, {%endif%}
				    {%endfor%}
    ) {
      {e(i8)}->std::convertible_to<Res>;
      {e(i16)}->std::convertible_to<Res>;
      {e(i32)}->std::convertible_to<Res>;
      {e(i64)}->std::convertible_to<Res>;
      {e(b)}->std::convertible_to<Res>;
      {e(ptr)}->std::convertible_to<Res>;
      {e(ptr32)}->std::convertible_to<Res>;
      {e(aggrc)}->std::convertible_to<Res>;
      {e(reg)}->std::convertible_to<Res>;
      {e(und)}->std::convertible_to<Res>;
      {e(sc)}->std::convertible_to<Res>;
      {%for N in all_bin_ops %}{e(o{{loop.index}}) }->std::convertible_to<Res>;
     {%endfor%}
    
    };

    template<class E,class Res = void>
    concept ValueVisitator = TValueVisitator<E,Res,true>;

    template<class E,class Res = void>
    concept MutableValueVisitator = TValueVisitator<E,Res,false>;
    
    
    template <class Res,bool c, TValueVisitator<Res,c> F>
    auto visitValueT(F&& f,CType<MiniMC::Model::Value,c>& v)  {
      switch (v.type_t ()) {
      case ValueInfo<I8Integer>::type_t ():
	return f (static_cast<CType<I8Integer,c>&> (v));
	break;
      case ValueInfo<I16Integer>::type_t ():
	return f (static_cast<CType<I16Integer,c>&> (v));
	break;
      case ValueInfo<I32Integer>::type_t ():
	return f (static_cast<CType<I32Integer,c>&> (v));
	break;
      case ValueInfo<I64Integer>::type_t ():
	return f (static_cast<CType<I64Integer,c>&> (v));
	break;
      case ValueInfo<Bool>::type_t ():
	return f (static_cast<CType<Bool,c>&> (v));
	break;
      case ValueInfo<Pointer>::type_t ():
	return f (static_cast<CType<Pointer,c>&> (v));
	break;
      case ValueInfo<Pointer32>::type_t ():
	return f (static_cast<CType<Pointer32,c>&> (v));
	break;
      case ValueInfo<AggregateConstant>::type_t ():
	return f (static_cast<CType<AggregateConstant,c>&> (v));
	break;
      case ValueInfo<Register>::type_t ():
	return f (static_cast<CType<Register,c>&> (v));
	break;
      case ValueInfo<Undef>::type_t ():
	return f (static_cast<CType<Undef,c>&> (v));
	break;
      case ValueInfo<SymbolicConstant>::type_t ():
	return f (static_cast<CType<SymbolicConstant,c>&> (v));
	break;
       {%for N in all_bin_ops %}case ValueInfo<{{N}}Expr>::type_t ():
       	     return f (static_cast<CType<{{N}}Expr,c>&> (v));
	     break;
       {%endfor%}    
        default:
#ifdef NDEBUG
	__builtin_unreachable();
#else
	throw MiniMC::Support::Exception ("Missing category");
#endif
        }
      
    }

    template <class Res,ValueVisitator<Res> F>
    auto visitValue(F&& f,const MiniMC::Model::Value& v) {
      return visitValueT<Res,true,F>(std::forward<F>(f),v);
    }

    template <class Res,MutableValueVisitator<Res> F>
    auto visitValue(F&& f,MiniMC::Model::Value& v) {
      return visitValueT<Res,false,F>(std::forward<F>(f),v);
    }
