
     {% for N in all_bin_ops+all_unary_ops %}
     class {{N.getName()}}Expr : public Value {
     	   public:
     	   {{N.getName()}}Expr ({%for o in N.getNonResOperands () %} Value_ptr {{o.getName()}} {%if not loop.last %},{%endif %} {%endfor %});
	   {%for o in N.getNonResOperands () %}
	   auto& {{o.getName()}} () { return *_{{o.getName()}};}
	   const auto& {{o.getName()}}  ()const  { return *_{{o.getName()}};}
	   
	   {%endfor %}

	   std::ostream& output(std::ostream& os) const override {
	   	return os << "(" << "{{N.getName()}}" <<  {%for o in N.getNonResOperands () %} *_{{o.getName ()}} << {%endfor%} ")";
      	   }		
      

	   private:

	   {%for o in N.getNonResOperands () %}
	   Value_ptr _{{o.getName()}};
	   {%endfor%}
	   
     };

     {%endfor %}
        

    enum class CastOps {
     {% for N in cast_ops %}{{N.getName()}} {% if not loop.last %}, {%endif %}
     {% endfor %}    	 	 
    };
    
    template<CastOps>
    struct CastOpsDetails {};

     {% for N in cast_ops %}
     template<> struct CastOpsDetails<CastOps::{{N.getName()}}> {
      		static consteval auto text () {return "{{N.getName()}}";}
     }; 
     {% endfor %}
     
    template<CastOps op>
    class CastExpression : public Value {
    public:
    CastExpression (MiniMC::Model::Value_ptr v, MiniMC::Model::Type_ptr to);
    const auto& getFrom () const { return *from_expr;}
    const auto& getToType() const {return to_type;}
    auto& getFrom ()  { return *from_expr;}
    
    std::ostream& output(std::ostream& os) const override {
    		return os << "(" <<CastOpsDetails<op>::text()   << *from_expr << " to " << *to_type << ")";
      }	
    private:
	MiniMC::Model::Value_ptr from_expr;
	MiniMC::Model::Type_ptr to_type;
    };

    

    using Bool = TConstant<MiniMC::BV8, true>;
    using I8Integer = TConstant<MiniMC::BV8>;
    using I16Integer = TConstant<MiniMC::BV16>;
    using I32Integer = TConstant<MiniMC::BV32>;
    using I64Integer = TConstant<MiniMC::BV64>;
    using Pointer = TConstant<MiniMC::Model::pointer64_t>;
    using Pointer32 = TConstant<MiniMC::Model::pointer32_t>;
    using SymbolicConstant = TConstant<MiniMC::Model::Symbol>;
    
    

   {% for N in cast_ops %}using {{N.getName()}}Expr = CastExpression<CastOps::{{N.getName()}}>;
   {% endfor %}
   

      
    
    template<type_id_t i , class T, class F, class... Args>
    constexpr auto  auto_index ()  {
      if constexpr ( std::is_same_v<T,F>) {
	return i;
      }
      else {
	return auto_index<i+1,T,Args...> ();
      }
    }
    
    template<type_id_t i , class T, class F>
    constexpr auto  auto_index ()  {
      if constexpr ( std::is_same_v<T,F>) {
	return i;
      }
      else {
	return []<bool b = false> {static_assert (b);}();
      }
    }


    template <class T>
    struct ValueInfo {
      static constexpr auto type_t () {
	return auto_index<0,T,
			  I8Integer,
			  I16Integer,
			  I32Integer,
			  I64Integer,
			  Bool,
			  Pointer,
			  Pointer32, 
			  AggregateConstant,
			  Register,
			  Undef,
			  SymbolicConstant,
			  {% for N in all_bin_ops+all_unary_ops+cast_ops %}{{N.getName()}}Expr{% if not loop.last %},{%endif%}
			  {% endfor %}
			  	  
			  > ();
      }
    };
    
    
    template <class T, bool is_bool>
    inline TConstant<T, is_bool>::TConstant(T val) : Constant(ValueInfo<TConstant<T, is_bool>>::type_t()),
                                                     value(val) {
    }


    {% for N in all_bin_ops+all_unary_ops %}
       
    inline {{N.getName()}}Expr::{{N.getName()}}Expr ({%for o in N.getNonResOperands () %} Value_ptr {{o.getName()}} {%if not loop.last %},{%endif %} {%endfor %}) : Value(ValueInfo<{{N.getName()}}Expr>::type_t()){%if N.getNonResOperands ()|length > 0 %}, {%for o in N.getNonResOperands () %} _{{o.getName()}}({{o.getName()}}) {%if not loop.last %},{%endif%}{%endfor %} {%endif %}  {}

    {%endfor %}

    template<CastOps c>
    inline CastExpression<c>::CastExpression (MiniMC::Model::Value_ptr v, MiniMC::Model::Type_ptr to) : Value(ValueInfo<CastExpression<c>>::type_t ()),from_expr(v),to_type(to) {}

    
    template<class A>
    constexpr bool is_root = std::is_same_v<std::remove_const_t<A>,Bool>
      || std::is_same_v<std::remove_const_t<A>,I8Integer>
      || std::is_same_v<std::remove_const_t<A>,I16Integer>
      || std::is_same_v<std::remove_const_t<A>,I32Integer>
      || std::is_same_v<std::remove_const_t<A>,I64Integer>
      || std::is_same_v<std::remove_const_t<A>,Pointer>
      || std::is_same_v<std::remove_const_t<A>,Pointer32>
      || std::is_same_v<std::remove_const_t<A>,SymbolicConstant>
      || std::is_same_v<std::remove_const_t<A>,Register>
      || std::is_same_v<std::remove_const_t<A>,AggregateConstant>      
      || std::is_same_v<std::remove_const_t<A>,Undef>      
      ;

    {%if arit_ops|length > 0 %}  
    template<class A>
    constexpr bool is_bin_arith =
      {% for N in arit_ops %} std::is_same_v<std::remove_const_t<A>,{{N.getName()}}Expr> {%if not loop.last %} || {%endif%} 
      {% endfor %}
    ;
    {%endif%}
    {%if cmp_ops|length > 0 %}  
    template<class A>
    constexpr bool is_bin_cmp = 
      {% for N in cmp_ops %} std::is_same_v<std::remove_const_t<A>,{{N.getName()}}Expr> {%if not loop.last %} || {%endif%} 
      {% endfor %}
    
    ;
    
    template<class A>
    constexpr bool is_unary = 
      {% for N in all_unary_ops %} std::is_same_v<std::remove_const_t<A>,{{N.getName()}}Expr> {%if not loop.last %} || {%endif%} 
      {% endfor %}
    
    ;

    {%if cast_ops|length > 0 %}  
    template<class A>
    constexpr bool is_cast =
      {% for N in cast_ops %} std::is_same_v<std::remove_const_t<A>,{{N.getName()}}Expr> {%if not loop.last %} || {%endif%} 
      {% endfor %}
    ;
    {%endif %}

    {%endif %}
    
    template<class... Ts> struct Overload : Ts... {
      using Ts::operator()...;

    };
    
    template<class T,bool consts>
    using CType = typename std::conditional<consts,const T,T>::type; 
    
    template<class E,class Res = void,bool cconsts =true>
    concept TValueVisitator = requires(const E e,
				    CType<MiniMC::Model::I8Integer,cconsts>& i8,
				    CType<MiniMC::Model::I16Integer,cconsts> i16,
				    CType<MiniMC::Model::I32Integer,cconsts> i32,
				    CType<MiniMC::Model::I64Integer,cconsts> i64,
				    CType<MiniMC::Model::Bool,cconsts> b,
				    CType<MiniMC::Model::Pointer,cconsts> ptr,
				    CType<MiniMC::Model::Pointer32,cconsts> ptr32,
				    CType<MiniMC::Model::AggregateConstant,cconsts> aggrc,
				    CType<MiniMC::Model::Register,cconsts> reg,
				    CType<MiniMC::Model::Undef,cconsts> und,
				    CType<MiniMC::Model::SymbolicConstant,cconsts> sc,
				    {%for N in all_bin_ops+all_unary_ops+cast_ops %}
        			    CType<MiniMC::Model::{{N.getName()}}Expr,cconsts> o{{loop.index}} {%if not loop.last %}, {%endif%}
				    {%endfor%}
    ) {
      {e(i8)}->std::convertible_to<Res>;
      {e(i16)}->std::convertible_to<Res>;
      {e(i32)}->std::convertible_to<Res>;
      {e(i64)}->std::convertible_to<Res>;
      {e(b)}->std::convertible_to<Res>;
      {e(ptr)}->std::convertible_to<Res>;
      {e(ptr32)}->std::convertible_to<Res>;
      {e(aggrc)}->std::convertible_to<Res>;
      {e(reg)}->std::convertible_to<Res>;
      {e(und)}->std::convertible_to<Res>;
      {e(sc)}->std::convertible_to<Res>;
      {%for N in all_bin_ops+all_unary_ops+cast_ops %}{e(o{{loop.index}}) }->std::convertible_to<Res>;
           {%endfor%}
    
    };

    template<class E,class Res = void>
    concept ValueVisitator = TValueVisitator<E,Res,true>;

    template<class E,class Res = void>
    concept MutableValueVisitator = TValueVisitator<E,Res,false>;
    
    
    template <class Res,bool c, TValueVisitator<Res,c> F>
    auto visitValueT(F&& f,CType<MiniMC::Model::Value,c>& v)  {
      switch (v.type_t ()) {
      case ValueInfo<I8Integer>::type_t ():
	return f (static_cast<CType<I8Integer,c>&> (v));
	break;
      case ValueInfo<I16Integer>::type_t ():
	return f (static_cast<CType<I16Integer,c>&> (v));
	break;
      case ValueInfo<I32Integer>::type_t ():
	return f (static_cast<CType<I32Integer,c>&> (v));
	break;
      case ValueInfo<I64Integer>::type_t ():
	return f (static_cast<CType<I64Integer,c>&> (v));
	break;
      case ValueInfo<Bool>::type_t ():
	return f (static_cast<CType<Bool,c>&> (v));
	break;
      case ValueInfo<Pointer>::type_t ():
	return f (static_cast<CType<Pointer,c>&> (v));
	break;
      case ValueInfo<Pointer32>::type_t ():
	return f (static_cast<CType<Pointer32,c>&> (v));
	break;
      case ValueInfo<AggregateConstant>::type_t ():
	return f (static_cast<CType<AggregateConstant,c>&> (v));
	break;
      case ValueInfo<Register>::type_t ():
	return f (static_cast<CType<Register,c>&> (v));
	break;
      case ValueInfo<Undef>::type_t ():
	return f (static_cast<CType<Undef,c>&> (v));
	break;
      case ValueInfo<SymbolicConstant>::type_t ():
	return f (static_cast<CType<SymbolicConstant,c>&> (v));
	break;
	   {%for N in all_bin_ops+all_unary_ops+cast_ops %}case ValueInfo<{{N.getName()}}Expr>::type_t ():
       	     return f (static_cast<CType<{{N.getName()}}Expr,c>&> (v));
	     break;
	   {%endfor%}    
default:		
#ifdef NDEBUG
	std::unreachable();
#else
	throw MiniMC::Support::Exception ("Missing category");
#endif
        }
      
    }

    template <class Res,ValueVisitator<Res> F>
    auto visitValue(F&& f,const MiniMC::Model::Value& v) {
      return visitValueT<Res,true,F>(std::forward<F>(f),v);
    }

    template <class Res,MutableValueVisitator<Res> F>
    auto visitValue(F&& f,MiniMC::Model::Value& v) {
      return visitValueT<Res,false,F>(std::forward<F>(f),v);
    }
    