#include <utility>
#include <tuple>
enum class InstructionCode {	
     {%for i in ISA.getInstructions () %}{{i.getName ()}}{%if not loop.last %},{%endif%}    
{% endfor %}
};

using ReplaceFunction = std::function<MiniMC::Model::Value_ptr(const MiniMC::Model::Value_ptr&)>;
    

template<InstructionCode>
struct InstructionData {};

 {%for group in ISA.getGroups () %}
       {%for i in group.getInstructions () %}
       	     template<>
       	      struct InstructionData<MiniMC::Model::InstructionCode::{{i.getName ()}}> {
	     	    {%for group2 in ISA.getGroups () %}
		    	  static constexpr bool is{{group2.getName ()}} = {%if group.getName () == group2.getName () %} true {%else %} false {%endif%}; 
		    {%endfor %}
		    {% if i.getOperands()|length > 0 %}
		    struct Content {
		    	   Content ({%for o in i.getOperands () %} {%if not o.isMultiParam () %} MiniMC::Model::Value_ptr {%else%} std::vector<MiniMC::Model::Value_ptr> {%endif%} {{o.getName ()}} {%if not loop.last %},{%endif%} {%endfor%})
			   	   : {%for o in i.getOperands () %} {{o.getName ()}}(std::move({{o.getName()}})) {%if not loop.last%},{%endif%}  {%endfor%} {}
			   {%for o in i.getOperands () %} {%if not o.isMultiParam () %} MiniMC::Model::Value_ptr {%else%} std::vector<MiniMC::Model::Value_ptr> {%endif%} {{o.getName ()}};
			   {%endfor%}

			   Content (const Content& oth,ReplaceFunction replacer) {%if i.getOperands ()|length > 0%}: {%for o in i.getOperands () %} {%if not o.isMultiParam () %}{{o.getName ()}}(replacer(oth.{{o.getName()}})) {%else %} {{o.getName()}}() {%endif%}  {%if not loop.last%},{%endif%}  {%endfor%} {%endif%} {
			   {%for o in i.getOperands () %} {%if o.isMultiParam () %}
			   	 std::for_each (oth.{{o.getName ()}}.begin(),oth.{{o.getName ()}}.end(),[&replacer,this](auto& v) { {{o.getName()}}.push_back (replacer(v));}); 
			   {%endif%}
			   {%endfor%}
			   }

			   template<class Adder>
			   void getUsages (Adder add) const {
 			     {%for o in i.getOperands () %}
			     {%if o.getName () != "res" %}
			     	  {%if o.isMultiParam () %}
				       std::for_each ({{o.getName()}}.begin(),{{o.getName()}}.end(),[&add](auto& v) {add = v;});
				  {%else%}
					add = {{o.getName ()}};
				{%endif%}
		             {%endif %}
			     {%endfor %}
			   }                	    


	            };
		    {%endif%}
	     };
       {%endfor %}
 {%endfor %}
 

 template<InstructionCode opc>
    concept hasOperands =  requires  {
      typename InstructionData<opc>::Content;
    };

 template<InstructionCode opc>
     concept hasRes =  requires (const typename InstructionData<opc>::Content& c) {
      c.res;
    };
    

template<InstructionCode>
    struct TInstruction;
    
    template<InstructionCode opc> requires hasOperands<opc>
    struct TInstruction<opc> {
      TInstruction (typename InstructionData<opc>::Content content ) :  content(content) {}
      auto& getOps () const {return content;}
      static consteval auto getOpcode () {return opc;}
      Value_ptr getDefines () const requires hasRes<opc> {return content.res;} 
      template<class Adder>
      void getUsages (Adder add) const {content.getUsages (add);}
      static constexpr bool hasOperands () {return true;}
      static constexpr bool hasResult () requires hasRes<opc> {
        return true;
      }
      static constexpr bool hasResult () requires (!hasRes<opc>) {
        return false;
      }
    
    private:
      typename InstructionData<opc>::Content content;
    };
    
    template<InstructionCode opc> requires (!hasOperands<opc>)
    struct TInstruction<opc> {
      TInstruction ()  {}
      static constexpr auto getOpcode () {return opc;}
      static constexpr bool hasOperands () {return false;}
      static constexpr bool hasRes () {return false;}
    };

    using Instruction_internal = std::variant<
    {%for i in ISA.getInstructions() %} TInstruction<InstructionCode::{{i.getName()}}> {%if not loop.last %},{%endif%}
    {%endfor%}
    >;

    inline std::ostream& operator<< (std::ostream& os, InstructionCode oc) {
    	   switch (oc) {
	  	  {%for i in ISA.getInstructions() %} case InstructionCode::{{i.getName()}}:return os << "{{i.getName()}}";
		  {%endfor%}	   
	   	  default:
		  std::unreachable();
	   }
   }

    const std::unordered_map<std::string,MiniMC::Model::InstructionCode> str2opcode = {
    	  {%for i in ISA.getInstructions() %} { "{{i.getName()}}",  MiniMC::Model::InstructionCode::{{i.getName()}} } {%if not loop.last %},{%endif%}
	  {% endfor %}
	  };


    inline bool isCast (InstructionCode oc) {
    	   switch (oc) {
	   {%for i in ISA.getInstructions() %} case InstructionCode::{{i.getName()}}: return InstructionData<InstructionCode::{{i.getName ()}}>::isCast;
	   {%endfor%}
	   default:
	   std::unreachable ();
	   
	   }
    }


    template<class T>
    constexpr bool isInternal_v = InstructionData<T::getOpcode ()>::isInternal;

    template<class T>
    constexpr bool  isTAC_v = InstructionData<T::getOpcode ()>::isTAC;

    template<class T>
    constexpr bool isComparison_v = InstructionData<T::getOpcode ()>::isComparison;

    
    template<class T>
    constexpr bool isUnary_v = InstructionData<T::getOpcode ()>::isUnary;

    template<class T>
    constexpr bool isMemory_v = InstructionData<T::getOpcode ()>::isMemory;

    template<class T>
    constexpr  bool isCast_v = InstructionData<T::getOpcode ()>::isCast;
    
    template<class T>
    constexpr  bool isPointer_v = InstructionData<T::getOpcode ()>::isPointer;

    template<class T>
    constexpr bool isAggregate_v = InstructionData<T::getOpcode ()>::isAggregate;

    template<class T>
    constexpr bool isPredicate_v = InstructionData<T::getOpcode ()>::isPredicate;

    template<class T>
    constexpr bool isAssertAssume_v = InstructionData<T::getOpcode ()>::isAssertAssume;;
    
    
    
    struct Instruction {
    public:
      Instruction (Instruction_internal internal) : internal(internal) {}
      
      //Copy Consructor with Replacement :-)
      Instruction (const Instruction&, ReplaceFunction);


{% macro reg_instruction(i) %}
    return make<op> (typename InstructionData<op>::Content{std::forward<Args>(args)...});	     
{% endmacro %}

{% macro bin_instruction(i) %}
   {%if i.isAssignConvertible () %} 
   	auto tup = std::make_tuple (args...);
    	auto expr = std::make_shared<MiniMC::Model::{{i.getName ()}}Expr> (std::get<1>(tup),std::get<2> (tup));
    	return make<InstructionCode::Assign> (std::get<0>(tup),expr);	     
    {%else %}
    	{{reg_instruction (i) }}
    {%endif%}
{% endmacro %}

{% macro unary_instruction(i) %}
    {%if i.isAssignConvertible () %}
    auto tup = std::make_tuple (args...);
    auto expr = std::make_shared<MiniMC::Model::{{i.getName ()}}Expr> (std::get<1>(tup));
    return make<InstructionCode::Assign> (std::get<0>(tup),expr);	     
    {%else %}
    {{reg_instruction(i)}}
    {%endif %}
{% endmacro %}

      
      template<InstructionCode op,class... Args>
      static Instruction make (Args... args) {
      	  {% for g in ISA.getGroups () %}
      	  {% for i in g.getInstructions () %}
          if constexpr (op == InstructionCode::{{i.getName ()}}) {
	     {%if g.getName () == "TAC"  or g.getName () == "Comparison"  %}
	     {{bin_instruction(i) }}
	     {%elif g.getName () == "Unary"  %}
	     {{unary_instruction (i)}}
	     {%elif i.getOperands ()| length > 0  %}
	     {{reg_instruction(i) }}
	     {%else%}
	     return Instruction_internal{TInstruction<op>()};
	     {%endif%}
	  }
    	  {% endfor %}
	  {%endfor %}
    
      }     
        
      template<InstructionCode c>
      auto& getAs () const {return std::get<TInstruction<c>> (internal);}
      
      auto  visit (auto v) const {return std::visit(v,internal);}
      
      /** 
       * Write a textual representation to \p os
       *
       * @param os The stream to output the representation to
       *
       * @return Reference to \p os, to allowing chaining outputs.
       */
      std::ostream& output(std::ostream& os) const;

    private:
      
      template<InstructionCode op> 
      static Instruction make (InstructionData<op>::Content d) {
	return Instruction_internal{TInstruction<op>(d)};
      }
      
      Instruction_internal internal;
    };
    

    inline std::ostream& operator<<(std::ostream& os, const Instruction& inst) {
      return inst.output(os);
    }
        

    
    std::ostream& operator<<(std::ostream& os, const std::vector<Instruction>& str);


      