#include <utility>
#include <tuple>
#include "minimc/io/ostream.hpp"
enum class InstructionCode {	
     {%for i in ISA.getInstructions () %}{{i.getName ()}}{%if not loop.last %},{%endif%}    
{% endfor %}
};

enum class VMInstructionCode {	
     {%for i in ISA.getVMInstructions () %}{{i.getName ()}}{%if not loop.last %},{%endif%}    
{% endfor %}
};


enum class PseudoInstructionCode {	
     {%for i in ISA.getPseudoInstructions () %}{{i.getName ()}}{%if not loop.last %},{%endif%}    
{% endfor %}
};





using ReplaceFunction = std::function<MiniMC::Model::Value_ptr(MiniMC::Model::Register&)>;

template<InstructionCode>
struct InstructionData {};

 {%for group in ISA.getGroups () %}
       {%for i in group.getInstructions () %}
       	     template<>
       	      struct InstructionData<MiniMC::Model::InstructionCode::{{i.getName ()}}> {
	     	    {%for group2 in ISA.getGroups () %}
		    	  static constexpr bool is{{group2.getName ()}} = {%if group.getName () == group2.getName () %} true {%else %} false {%endif%}; 
		    {%endfor %}
		    	     };


       {%endfor %}
 {%endfor %}


struct Replacer {
public:
   Replacer (ReplaceFunction re) : replacer(re) {}

   Value_ptr Replace (Value_ptr& ptr ) const {
   	     if (ptr) {
	     	return MiniMC::Model::visitValue(*this,*ptr);
	     }
	     else
		return nullptr;
   }

   Value_ptr Replace (const Value_ptr& ptr ) const {
   	     if (ptr) {
	     	return MiniMC::Model::visitValue(*this,const_cast<Value&>(*ptr));
	     }
	     else
		return nullptr;
   }

  Value_ptr Replace (Value& val ) const {
  	return MiniMC::Model::visitValue(*this,val);
	     
  }

   template<class T>
   Value_ptr operator() (T& ) const  {
   	 throw MiniMC::Support::Exception ("Cannot copy");
   }
   

   template<class T>
   Value_ptr operator() (T& t) const requires (MiniMC::Model::is_root<T>) {
	return t.shared_from_this();
   }
   	
   Value_ptr operator() (Register& r) const {
   	return replacer(r);
   }

 {%for g in ISA.getGroups () %} 
   {% for i in g.getPseudoInstructions () %}
     {%if i.temp_replace () %}
       {{i.temp_replace()}}
     {%elif i.isAssignConvertible () %}
       Value_ptr operator() ({{i.getName()}}Expr&  expr) const  {
       return std::make_shared<{{i.getName()}}Expr> ({%for o in i.getNonResOperands () %}Replace(expr.{{o.getName()}}()) {%if not loop.last %},{%endif%} {%endfor %}   {%if i.extratypes () | length > 0 %}
    ,
    {%for o in i.extratypes () %}
      expr.{{o}} ()
      {%if not loop.last %},{%endif %}
    {% endfor %}
  {%endif %}
 );
   	     //	 throw MiniMC::Support::Exception ("Cannot copy {{i.getName ()}}Expr");
       }

   
      
    {%endif %}
    
  {%endfor %}
   
 {% endfor %}
   

private:
  ReplaceFunction replacer;
};



template<VMInstructionCode>
struct VMInstructionData {};

 {%for group in ISA.getGroups () %}
       {%for i in group.getVMInstructions () %}
       	     template<>
       	      struct VMInstructionData<MiniMC::Model::VMInstructionCode::{{i.getName ()}}> {
	     	    {%for group2 in ISA.getGroups () %}
		    	  static constexpr bool is{{group2.getName ()}} = {%if group.getName () == group2.getName () %} true {%else %} false {%endif%}; 
		    {%endfor %}
		    {% if i.getOperands()|length > 0 %}
		    struct Content {
		    	   Content ({%for o in i.getOperands () %} {%if not o.isMultiParam () %} MiniMC::Model::Value_ptr {%else%} std::vector<MiniMC::Model::Value_ptr> {%endif%} {{o.getName ()}} {%if not loop.last %},{%endif%} {%endfor%})
			   	   : {%for o in i.getOperands () %} {{o.getName ()}}(std::move({{o.getName()}})) {%if not loop.last%},{%endif%}  {%endfor%} {}
			   {%for o in i.getOperands () %} {%if not o.isMultiParam () %} MiniMC::Model::Value_ptr {%else%} std::vector<MiniMC::Model::Value_ptr> {%endif%} {{o.getName ()}};
			   {%endfor%}

			   Content (const Content& oth,Replacer replacer) {%if i.getOperands ()|length > 0%}: {%for o in i.getOperands () %} {%if not o.isMultiParam () %}{{o.getName ()}}(replacer.Replace((oth.{{o.getName()}}))) {%else %} {{o.getName()}}() {%endif%}  {%if not loop.last%},{%endif%}  {%endfor%} {%endif%} {
			   {%for o in i.getOperands () %} {%if o.isMultiParam () %}
			   	 std::for_each (oth.{{o.getName ()}}.begin(),oth.{{o.getName ()}}.end(),[&replacer,this](auto& v) { {{o.getName()}}.push_back (replacer.Replace(v));}); 
			   {%endif%}
			   {%endfor%}
			   }

			   template<class Adder>
			   void getUsages (Adder add) const {
 			     {%for o in i.getOperands () %}
			     {%if o.getName () != "res" %}
			     	  {%if o.isMultiParam () %}
				       std::for_each ({{o.getName()}}.begin(),{{o.getName()}}.end(),[&add](auto& v) {add = v;});
				  {%else%}
					add = {{o.getName ()}};
				{%endif%}
		             {%endif %}
			     {%endfor %}
			   }                	    


	            };
		    {%endif%}
	     };


       {%endfor %}
 {%endfor %}
 

 template<VMInstructionCode opc>
    concept hasOperands =  requires  {
      typename VMInstructionData<opc>::Content;
    };

 template<VMInstructionCode opc>
     concept hasRes =  requires (const typename VMInstructionData<opc>::Content& c) {
      c.res;
    };
 

  
  
    

template<VMInstructionCode>
    struct TInstruction;
    
    template<VMInstructionCode opc> requires hasOperands<opc>
    struct TInstruction<opc> {
      TInstruction (typename VMInstructionData<opc>::Content content ) :  content(content) {}
      auto& getOps () const {return content;}
      static consteval auto getOpcode () {return opc;}
      Value_ptr getDefines () const requires hasRes<opc> {return content.res;} 
      template<class Adder>
      void getUsages (Adder add) const {content.getUsages (add);}
      static constexpr bool hasOperands () {return true;}
      static constexpr bool hasResult () requires hasRes<opc> {
        return true;
      }
      static constexpr bool hasResult () requires (!hasRes<opc>) {
        return false;
      }
    
    private:
      typename VMInstructionData<opc>::Content content;
    };
    
    template<VMInstructionCode opc> requires (!hasOperands<opc>)
    struct TInstruction<opc> {
      TInstruction ()  {}
      static constexpr auto getOpcode () {return opc;}
      static constexpr bool hasOperands () {return false;}
      static constexpr bool hasRes () {return false;}
    };

    using Instruction_internal = std::variant<
    {%for i in ISA.getVMInstructions() %} TInstruction<VMInstructionCode::{{i.getName()}}> {%if not loop.last %},{%endif%}
    {%endfor%}
    >;

    inline std::ostream& operator<< (std::ostream& os, VMInstructionCode oc) {
    	   switch (oc) {
	  	  {%for i in ISA.getVMInstructions() %} case VMInstructionCode::{{i.getName()}}:return os << "{{i.getName()}}";
		  {%endfor%}	   
	   	  default:
		  std::unreachable();
	   }
   }

   inline MiniMC::IO::ostream& operator<< (MiniMC::IO::ostream& os, VMInstructionCode oc) {
    	   switch (oc) {
	  	  {%for i in ISA.getVMInstructions() %} case VMInstructionCode::{{i.getName()}}:return os << "{{i.getName()}}";
		  {%endfor%}	   
	   	  default:
		  std::unreachable();
	   }
   }

    const std::unordered_map<std::string,MiniMC::Model::InstructionCode> str2opcode = {
    	  {%for i in ISA.getInstructions() %} { "{{i.getName()}}",  MiniMC::Model::InstructionCode::{{i.getName()}} } {%if not loop.last %},{%endif%}
	  {% endfor %},
	  {"SGE",MiniMC::Model::InstructionCode::SGe},
	  {"SLE",MiniMC::Model::InstructionCode::SLe},
	  {"UGE",MiniMC::Model::InstructionCode::UGe},
	  {"ULE",MiniMC::Model::InstructionCode::ULe},
	  {"Shl",MiniMC::Model::InstructionCode::LShl},
	  	  
	  };
	  

    inline bool isCast (InstructionCode oc) {
    	   switch (oc) {
	   {%for g,i in ISA.getInstructionsWithGroupName() %} case InstructionCode::{{i.getName()}}: return {{"true" if  g == "Cast" else "false"}};
	   {%endfor%}
	   default:
	   std::unreachable ();
	   
	   }
    }


    template<class T>
    constexpr bool isInternal_v = VMInstructionData<T::getOpcode ()>::isInternal;

    template<class T>
    constexpr bool  isTAC_v = VMInstructionData<T::getOpcode ()>::isTAC;

    template<class T>
    constexpr bool isComparison_v = VMInstructionData<T::getOpcode ()>::isComparison;

    
    template<class T>
    constexpr bool isUnary_v = VMInstructionData<T::getOpcode ()>::isUnary;

    template<class T>
    constexpr bool isMemory_v = VMInstructionData<T::getOpcode ()>::isMemory;

    template<class T>
    constexpr  bool isCast_v = VMInstructionData<T::getOpcode ()>::isCast;
    
    template<class T>
    constexpr  bool isPointer_v = VMInstructionData<T::getOpcode ()>::isPointer;

    template<class T>
    constexpr bool isAggregate_v = VMInstructionData<T::getOpcode ()>::isAggregate;

    template<class T>
    constexpr bool isPredicate_v = VMInstructionData<T::getOpcode ()>::isPredicate;

    template<class T>
    constexpr bool isAssertAssume_v = VMInstructionData<T::getOpcode ()>::isAssertAssume;;
    
    
    
    struct Instruction {
    public:
      Instruction (Instruction_internal internal) : internal(internal) {}
      
      //Copy Consructor with Replacement :-)
      Instruction (const Instruction&, ReplaceFunction);


{% macro reg_instruction(i) %}
   {%if i.temp_creation () == None %}
    return make<VMInstructionCode::{{i.getName()}}> (typename VMInstructionData<VMInstructionCode::{{i.getName()}}>::Content{std::forward<Args>(args)...});	     
    {%else %}
    {{i.temp_creation()}}
    {%endif %}
{% endmacro %}

{% macro bin_instruction(i) %}
   {%if i.isAssignConvertible () %} 
   	auto tup = std::make_tuple (args...);
    	auto expr = std::make_shared<MiniMC::Model::{{i.getName ()}}Expr> (std::get<1>(tup),std::get<2> (tup));
    	return make<VMInstructionCode::Assign> (std::get<0>(tup),expr);	     
    {%else %}
    	{{reg_instruction (i) }}
    {%endif%}
{% endmacro %}

{% macro unary_instruction(i) %}
    {%if i.isAssignConvertible () %}
    auto tup = std::make_tuple (args...);
    auto expr = std::make_shared<MiniMC::Model::{{i.getName ()}}Expr> (std::get<1>(tup));
    return make<VMInstructionCode::Assign> (std::get<0>(tup),expr);	     
    {%else %}
    {{reg_instruction(i)}}
    {%endif %}
{% endmacro %}

{% macro cast_instruction(i) %}
     {%if i.temp_creation () %}
    {{i.temp_creation()}}
    {%elif i.isAssignConvertible () %}
    auto tup = std::make_tuple (args...);
    auto expr = std::make_shared<MiniMC::Model::{{i.getName ()}}Expr> (std::get<1>(tup),std::get<0>(tup)->getType());
    return make<VMInstructionCode::Assign> (std::get<0>(tup),expr);
    {%else %}
    {{reg_instruction(i)}}
    {%endif %}
{% endmacro %}

{% macro memory_instruction(i) %}
     {%if i.temp_creation () %}
    {{i.temp_creation()}}
    {%elif i.isAssignConvertible () %}
    auto tup = std::make_tuple (args...);
    auto expr = std::make_shared<MiniMC::Model::{{i.getName ()}}Expr> (std::get<1>(tup),std::get<0>(tup)->getType());
    return make<VMInstructionCode::Assign> (std::get<0>(tup),expr);
    {%else %}
    {{reg_instruction(i)}}
    {%endif %}
{% endmacro %}

{% macro pointer_instruction(i) %}
     {%if i.temp_creation () %}
    {{i.temp_creation()}}
    {%elif i.isAssignConvertible () %}
    auto tup = std::make_tuple (args...);
    auto expr = std::make_shared<MiniMC::Model::{{i.getName ()}}Expr> ({%for o in i.getNonResOperands () %}
    std::get<{{loop.index}}>(tup) {%if not loop.last %},{%endif%}{%endfor %}

    );
    return make<VMInstructionCode::Assign> (std::get<0>(tup),expr);
    {%else %}
    {{reg_instruction(i)}}
    {%endif %}
{% endmacro %}

      template<VMInstructionCode op,class... Args>
      static Instruction make (Args... args) {
      	  {% for g in ISA.getGroups () %}
      	  {% for i in g.getVMInstructions () %}
          if constexpr (op == VMInstructionCode::{{i.getName ()}}) {
	     {%if g.getName () == "TAC"  or g.getName () == "Comparison"  %}
	     {{bin_instruction(i) }}
	     {%elif g.getName () == "Unary"  %}
	     {{unary_instruction (i)}}
	     {%elif i.getOperands ()| length > 0  %}
	     {{reg_instruction(i) }}
	     {%else%}
	     return Instruction_internal{TInstruction<VMInstructionCode::{{i.getName()}}>()};
	     {%endif%}
	  }
    	  {% endfor %}
	  {%endfor %}
	  throw MiniMC::Support::Exception ("ERRROR");
      }     

      template<PseudoInstructionCode op,class... Args>
      static Instruction make (Args... args) {
      	  {% for g in ISA.getGroups () %}
      	  {% for i in g.getPseudoInstructions () %}
          if constexpr (op == PseudoInstructionCode::{{i.getName ()}}) {
	     {%if g.getName () == "TAC"  or g.getName () == "Comparison"  %}
	     {{bin_instruction(i) }}
	     {%elif g.getName () == "Unary"  %}
	     {{unary_instruction (i)}}
	     {%elif g.getName () == "Cast"  %}
	     {{cast_instruction (i)}}
	     {%elif g.getName () == "Pointer"  %}
	     {{pointer_instruction (i)}}
	     {%elif i.getOperands ()| length > 0  %}
	     {{reg_instruction(i) }}
	     {%else%}
	     return Instruction_internal{TInstruction<VMInstructionCode::{{i.getName()}}>()};
	     {%endif%}
	  }
    	  {% endfor %}
	  {%endfor %}

      }

      template<InstructionCode op,class... Args>
      static Instruction make (Args... args) {
      	  {% for g in ISA.getGroups () %}
      	  {% for i in g.getInstructions () %}
          if constexpr (op == InstructionCode::{{i.getName ()}}) {
	     {%if i.isVM () %}
	     	  return make<VMInstructionCode::{{i.getName()}}> (std::forward<Args> (args)...);
		  {%else %}
		  return make<PseudoInstructionCode::{{i.getName()}}> (std::forward<Args> (args)...);
		  {%endif%}
	     }	     
	  
    	  {% endfor %}
	  {%endfor %}
      }    


      template<VMInstructionCode c>
      auto& getAs () const {return std::get<TInstruction<c>> (internal);}

      auto  visit (auto v) const {return std::visit(v,internal);}

       template<class F>
       void visitExpressions (F f) {
       this->visit (
       MiniMC::Support::Overload {
	     {%for i in ISA.getVMInstructions() %}	
	       [f]( [[maybe_unused]]  const TInstruction<VMInstructionCode::{{i.getName()}}>& i) {
	       {%for o in i.getNonResOperands() %}
		    {%if not o.isMultiParam() %}
		      f(i.getOps().{{o.getName()}});
		      {%endif %} 
		  {%endfor %}
	       }
	       {%if not loop.last %},{%endif%}
	     {%endfor %}

	  }
	  );
	  }

	  
      /** 
       * Write a textual representation to \p os
       *
       * @param os The stream to output the representation to
       *
       * @return Reference to \p os, to allowing chaining outputs.
       */
      std::ostream& output(std::ostream& os) const;
      MiniMC::IO::ostream& output(MiniMC::IO::ostream& os) const;
            
    private:
      
      template<VMInstructionCode op> 
      static Instruction make (VMInstructionData<op>::Content d) {
	return Instruction_internal{TInstruction<op>(d)};
      }
      
      Instruction_internal internal;
    };
    

    inline std::ostream& operator<<(std::ostream& os, const Instruction& inst) {
      return inst.output(os);
    }
        

    
    std::ostream& operator<<(std::ostream& os, const std::vector<Instruction>& str);
      
 {%for g in ISA.getGroups () %} 
   {% for i in g.getVMInstructions () %}	
      // {{i.getName()}}
   {%endfor %}
{%endfor %}
