 /**
 * @file   typechecker.hpp
 * @date   Mon Apr 20 17:02:30 2020
 * 
 * @brief  
 * 
 * 
 */
#ifndef _TYPECHECK__
#define _TYPECHECK__

#include "minimc/model/valuevisitor.hpp"
#include "minimc/model/cfg.hpp"
#include "minimc/support/feedback.hpp"

namespace MiniMC {
  namespace Model {
    namespace Checkers {
      /**
	   * Typecheck the progrm \p prgm.
	   
	   */
      struct TypeChecker  {
        TypeChecker(MiniMC::Model::TypeFactory_ptr tfac, MiniMC::Support::Messager messager) : tfactory(tfac),messager(messager)  {}
	bool Check(const MiniMC::Model::Program& prgm );
	bool Check(MiniMC::Model::Function&);
	MiniMC::Model::Type_ptr  CheckType ( MiniMC::Model::Value& v) const  {
	  return MiniMC::Model::visitValue<MiniMC::Model::Type_ptr> (*this, v);
	}

	
	template<class T>
	MiniMC::Model::Type_ptr operator() (T& t) const requires (MiniMC::Model::is_root<T>) {
	  return t.getType ();
	}
	
	{% for i in ISA.getPseudoInstructions () %}
	{%if i.isAssignConvertible () %}
	MiniMC::Model::Type_ptr  operator() ({{i.getName ()}}Expr& ) const;
	
	{%endif %}
	{%endfor %}
		
      private:
	template<class Inst>
	bool doCheck(const Inst&, const MiniMC::Model::Instruction&, const MiniMC::Model::Type_ptr&);
	

	const MiniMC::Model::Program* prgm{nullptr};
	MiniMC::Model::TypeFactory_ptr tfactory;
	mutable MiniMC::Support::Messager messager;
      };
      
    } // namespace Checkers
  }   // namespace Model
} // namespace MiniMC

#endif
 
