 /**
 * @file   typechecker.hpp
 * @date   Mon Apr 20 17:02:30 2020
 * 
 * @brief  
 * 
 * 
 */
#ifndef _TYPECHECK__
#define _TYPECHECK__

#include "minimc/model/valuevisitor.hpp"
#include "minimc/model/cfg.hpp"
#include "minimc/support/feedback.hpp"
#include "minimc/support/overload.hpp"

namespace MiniMC {
  namespace Model {
    namespace Checkers {
      /**
	   * Typecheck the progrm \p prgm.
	   
	   */
      struct TypeChecker  {
        TypeChecker(MiniMC::Model::TypeFactory_ptr tfac, MiniMC::Support::Messager messager) : tfactory(tfac),messager(messager)  {}
	bool Check(const MiniMC::Model::Program& prgm );
	bool Check(MiniMC::Model::Function&);
	MiniMC::Model::Type_ptr  CheckType ( MiniMC::Model::Value& v) const  {
	  return MiniMC::Model::visitValue<MiniMC::Model::Type_ptr> (*this, v);
	}

/*	
	template<class T>
	MiniMC::Model::Type_ptr operator() (T& t) const requires (MiniMC::Model::is_root<T>)	 {
	  return t.getType ();
	}
*/
	MiniMC::Model::Type_ptr operator() (MiniMC::Model::Register& i) const  {
	  return i.getType();
	}
	
	MiniMC::Model::Type_ptr operator() (MiniMC::Model::Bool& i) const  {
	  i.setType(tfactory->makeBoolType());
	  return i.getType();
	}

	

	MiniMC::Model::Type_ptr operator() (MiniMC::Model::I8Integer& i) const  {
	  i.setType(tfactory->makeIntegerType(8));
	  return i.getType();
	}
	
	MiniMC::Model::Type_ptr operator() (MiniMC::Model::I16Integer& i) const  {
	  i.setType(tfactory->makeIntegerType(16));
	  return i.getType();
	}

	MiniMC::Model::Type_ptr operator() (MiniMC::Model::I32Integer& i) const  {
	  i.setType(tfactory->makeIntegerType(32));
	  return i.getType();
	}

	MiniMC::Model::Type_ptr operator() (MiniMC::Model::I64Integer& i) const  {
	  i.setType(tfactory->makeIntegerType(64));
	  return i.getType();
	}

	MiniMC::Model::Type_ptr operator() (MiniMC::Model::Pointer& i) const {
	  i.setType(tfactory->makePointerType());
	  return i.getType();
	}

	MiniMC::Model::Type_ptr operator() (MiniMC::Model::Pointer32& i) const  {
	  i.setType(tfactory->makePointerType());
	  return i.getType();
	}

	MiniMC::Model::Type_ptr operator() (MiniMC::Model::SymbolicConstant& i) const  {
	  auto type = std::visit (MiniMC::Support::Overload {
      	  [](const MiniMC::Model::Register_wptr&r ) ->MiniMC::Model::Type_ptr {return r.lock()->getType();},
      	  [this](const MiniMC::Model::Function_wptr&) ->MiniMC::Model::Type_ptr{return tfactory->makePointerType();},
     	  [this](const MiniMC::Model::Location_wptr&) ->MiniMC::Model::Type_ptr {return tfactory->makePointerType();},
	  [this](const MiniMC::Model::HeapBlock_wptr&) ->MiniMC::Model::Type_ptr {return tfactory->makePointerType();},
	  [this](const std::monostate& ) ->MiniMC::Model::Type_ptr {return tfactory->makePointerType();}
	  	}
	    ,i.getValue().getUserData());
	  i.setType(type);
	  return i.getType();
	}
	
	MiniMC::Model::Type_ptr operator() (MiniMC::Model::Undef& i) const  {
	  return i.getType();
	}

	MiniMC::Model::Type_ptr operator() (MiniMC::Model::AggregateConstant& i) const  {
	  i.setType(tfactory->makeAggregateType(i.getSize()));
	  return i.getType();
	}

	

	{% for i in ISA.getPseudoInstructions () %}
	{%if i.isAssignConvertible () %}
	MiniMC::Model::Type_ptr  operator() ({{i.getName ()}}Expr& ) const;
	
	{%endif %}
	{%endfor %}
		
      private:
	template<class Inst>
	bool doCheck(const Inst&, const MiniMC::Model::Instruction&, const MiniMC::Model::Type_ptr&);
	

	const MiniMC::Model::Program* prgm{nullptr};
	MiniMC::Model::TypeFactory_ptr tfactory;
	mutable MiniMC::Support::Messager messager;
      };
      
    } // namespace Checkers
  }   // namespace Model
} // namespace MiniMC

#endif
 
