#include "minimc/model/checkers/typechecker.hpp"

#include "minimc/model/cfg.hpp"
#include "minimc/model/instructions.hpp"
#include "minimc/model/valuevisitor.hpp"
#include "minimc/model/variables.hpp"
#include "minimc/support/feedback.hpp"
#include "minimc/support/localisation.hpp"

#include <iostream>

namespace MiniMC {
  namespace Model {
    namespace Checkers {

      
      
      class InstrTypeError : public MiniMC::Support::ErrorMessage {
      public:
	InstrTypeError (MiniMC::Model::Instruction instr) : instr(std::move(instr)) {}
	
      protected:
	auto& getInstr () const {return instr;}
      private:
	std::string mess;
	MiniMC::Model::Instruction instr;
      };

      class ExprTypeError : public MiniMC::Support::ErrorMessage {
      public:
	
      };

      class MustBeSameTypeExpr : public ExprTypeError{
      public:
	MustBeSameTypeExpr (const MiniMC::Model::Value& l1, const MiniMC::Model::Value& l2 )  {
	  message = MiniMC::Support::Localiser {"'%1%' and '%2%' must have same type."}.format(l1,l2);
	
	}
	
	virtual std::ostream& to_string (std::ostream& os) const {
	  return os << message;
	}
	
      private:
	std::string message;
	
      };

            class MustBeBoolExpr : public ExprTypeError{
      public:
	MustBeBoolExpr (const MiniMC::Model::Value& l1 )  {
	  message = MiniMC::Support::Localiser {"'%1%' must be bool."}.format(l1);
	
	}
	
	virtual std::ostream& to_string (std::ostream& os) const {
	  return os << message;
	}
	
      private:
	std::string message;
	
      };

      class MustBePointerExpr : public ExprTypeError{
      public:
	MustBePointerExpr (const MiniMC::Model::Value& l1 )  {
	  message = MiniMC::Support::Localiser {"'%1%' must be pointer."}.format(l1);
	
	}
	
	virtual std::ostream& to_string (std::ostream& os) const {
	  return os << message;
	}
	
      private:
	std::string message;
	
      };

      class MustBeIntegerExpr : public ExprTypeError{
      public:
	MustBeIntegerExpr (const MiniMC::Model::Value& l1 )  {
	  message = MiniMC::Support::Localiser {"'%1%' must be integer."}.format(l1);
	
	}
	
	virtual std::ostream& to_string (std::ostream& os) const {
	  return os << message;
	}
	
      private:
	std::string message;
	
      };

      
      
      class MustBeSameType : public InstrTypeError{
      public:
	MustBeSameType (MiniMC::Model::Instruction instr, MiniMC::Model::Value_ptr l1, MiniMC::Model::Value_ptr l2 ) : InstrTypeError (std::move(instr)),l1(l1),l2(l2) {}
	virtual std::ostream& to_string (std::ostream& os) const {
	  return os << loc.format (getInstr (),*l1,*l2);
	}
	
      private:
	MiniMC::Support::Localiser loc{"For Instruction '%1%': '%2%' and '%3%' must have same type."};
	MiniMC::Model::Value_ptr l1;
	MiniMC::Model::Value_ptr l2;
      };
      
      class MustBeGivenTypeID : public InstrTypeError{
      public:
	MustBeGivenTypeID (MiniMC::Model::Instruction instr, MiniMC::Model::Value_ptr l1, MiniMC::Model::TypeID type ) : InstrTypeError (std::move(instr)),l1(l1),type(type) {}
	virtual std::ostream& to_string (std::ostream& os) const {
	  return os << loc.format (getInstr (),*l1,type);
	}
	
      private:
	MiniMC::Support::Localiser loc{"For Instruction '%1%': '%2%' must be of type '%3%'."};
	MiniMC::Model::Value_ptr l1;
	MiniMC::Model::TypeID type;
      };

      class MustBeGivenType : public InstrTypeError{
      public:
	MustBeGivenType (MiniMC::Model::Instruction instr, MiniMC::Model::Value_ptr l1, MiniMC::Model::Type_ptr type ) : InstrTypeError (std::move(instr)),l1(l1),type(type) {}
	virtual std::ostream& to_string (std::ostream& os) const {
	  return os << loc.format (getInstr (),*l1,*type);
	}
	
      private:
	MiniMC::Support::Localiser loc{"For Instruction '%1%': '%2%' must be of type '%3%'."};
	MiniMC::Model::Value_ptr l1;
	MiniMC::Model::Type_ptr type;
      };
      
      class MustBeInteger : public InstrTypeError{
      public:
	MustBeInteger (MiniMC::Model::Instruction instr, MiniMC::Model::Value_ptr l1 ) : InstrTypeError (std::move(instr)),l1(l1) {}
	virtual std::ostream& to_string (std::ostream& os) const {
	  return os << loc.format (getInstr (),*l1);
	}
	
      private:
	MiniMC::Support::Localiser loc{"For Instruction '%1%': '%2%' must be an integer type."};
	MiniMC::Model::Value_ptr l1;
      };

      class MustBeLarger : public InstrTypeError{
      public:
	MustBeLarger (MiniMC::Model::Instruction instr, MiniMC::Model::Type_ptr t1,MiniMC::Model::Type_ptr t2 ) : InstrTypeError (std::move(instr)),t1(t1),t2(t2) {}
	virtual std::ostream& to_string (std::ostream& os) const {
	  return os << loc.format (getInstr (),*t1,*t2);
	}
	
      private:
	MiniMC::Support::Localiser loc{"For Instruction '%1%': '%2%' must be of larger size thant %3%"};
	MiniMC::Model::Type_ptr t1;
	MiniMC::Model::Type_ptr t2;
	
      };

      class MustBeConstant : public InstrTypeError {
      public:
	MustBeConstant (MiniMC::Model::Instruction instr, MiniMC::Model::Value_ptr t1 ) : InstrTypeError (std::move(instr)),val(t1) {}
	virtual std::ostream& to_string (std::ostream& os) const {
	  return os << loc.format (getInstr (),*val);
	}
      private:
	MiniMC::Support::Localiser loc{"For Instruction '%1%': '%2%' must be constant"};
	
	Value_ptr val;
      };

{%macro type_constraint(t) %}
  (
  {%for k in t.getTypeD () %}
  {%if k =="Integer" %}
    ({{t.getName()}}->isInteger())
  {%elif k =="Bool" %}
    ({{t.getName()}}->getTypeID () == MiniMC::Model::TypeID::Bool)
  {%elif k =="Pointer" %}
    ({{t.getName()}}->getTypeID () == MiniMC::Model::TypeID::Pointer )
  {%elif ok == "Pointe32" %}
    ({{t.getName()}}->getTypeID () == MiniMC::Model::TypeID::Pointer32)
  {%else %}
    true
  {%endif%}
  {%if not loop.last %}
    ||
  {%endif %}
{%endfor %}
)
{%endmacro%}

{%macro size_constraint(l,r,c) %}
	if (!({{l.getName()}}->getSize () {{c}}  {{r.getName()}}->getSize ())) {
	   messager << MiniMC::Support::TError<std::string> {MiniMC::Support::Localiser{"'%1%' be '%3%' '%2%'"}.format (*{{l.getName()}},*{{r.getName()}},"{{c}}")};
	   return nullptr;
	   }
{%endmacro %}

{%macro size_constraints(i) %}
	{%if i.getTypeSizeRestrictions () %}
	{{ size_constraint(i.getTypeSizeRestrictions ().getLesser(),i.getTypeSizeRestrictions ().getGreater(),i.getTypeSizeRestrictions().getCMP ()) }}
	{%endif%}
{%endmacro%}

{%macro tac_instruction(i) %}
 MiniMC::Model::Type_ptr  TypeChecker::operator() ({{i.getName()}}Expr& expr)  const {
	{%for o in i.getNonResOperands () %}MiniMC::Model::Type_ptr {{o.getName()}}_ty = CheckType(expr.{{o.getName()}}());	
        {%endfor %}
	{%for t,tp in i.getTypes ().items() %}
	  {%for o in tp.NonResoperands () %}{%if loop.first %} MiniMC::Model::Type_ptr {{t}} = {{o.getName ()}}_ty;
	  {%else %}
	    if ({{t}} != {{o.getName()}}_ty) {
	    messager << MiniMC::Support::TError<std::string> {MiniMC::Support::Localiser{"'%1%' must have type '%2%'"}.format (expr.{{o.getName()}}(),*{{t}})};
	    return nullptr;
	    }
	  {%endif %}
	{%endfor %}

	if (!{{type_constraint(tp) }}) {
	messager << MiniMC::Support::TError<std::string> {MiniMC::Support::Localiser{"'%1%' does not meet it's type constraints"}.format (*{{tp.getName()}})};
	return nullptr;
	}
	
	{%endfor %}
	{{size_constraints(i)}}
	{%if i.getResOperand () %}
	  expr.setType ({{i.getResOperand ().getType().getName ()}});
        {%endif%}
	return expr.getType();
}
      {%endmacro %}

      {%macro comparison_instruction(i) %}
 MiniMC::Model::Type_ptr  TypeChecker::operator() ({{i.getName()}}Expr& expr)  const {
	{%for o in i.getNonResOperands () %}MiniMC::Model::Type_ptr {{o.getName()}}_ty = CheckType(expr.{{o.getName()}}());	
        {%endfor %}
	{%for t,tp in i.getTypes ().items() %}
	  {%for o in tp.NonResoperands () %}{%if loop.first %} MiniMC::Model::Type_ptr {{t}} = {{o.getName ()}}_ty;
	  {%else %}
	    if ({{t}} != {{o.getName()}}_ty) {
	    messager << MiniMC::Support::TError<std::string> {MiniMC::Support::Localiser{"'%1%' must have type '%2%'"}.format (expr.{{o.getName()}}(),*{{t}})};
	    return nullptr;
	    }
	  {%endif %}
	{%endfor %}
	{%if tp.NonResoperands () |length > 0 %} 
	  if (!{{type_constraint(tp) }}) {
	  messager << MiniMC::Support::TError<std::string> {MiniMC::Support::Localiser{"'%1%' does not meet it's type constraints"}.format (*{{tp.getName()}})};
	  return nullptr;
	  }
	  {%endif %}
	
	{%endfor %}
	{{size_constraints(i)}}	
	{%if i.getResOperand () %}
	  expr.setType (MiniMC::Model::BoolType::get());
        {%endif%}
	return expr.getType();
	}
      {%endmacro %}

      {%macro cast_instruction(i) %}
	MiniMC::Model::Type_ptr  TypeChecker::operator() ({{i.getName()}}Expr& expr)  const {
	{%for o in i.getNonResOperands () %}MiniMC::Model::Type_ptr {{o}}_ty = CheckType(expr.getFrom ());	
        {%endfor %}
	

	{%for t,tp in i.getTypes ().items() %}
	  {%for o in tp.NonResoperands () %}{%if loop.first %} MiniMC::Model::Type_ptr {{t}} = {{o.getName ()}}_ty; 
	  {%endif %}
	  {%endfor%}
	  {%for o in tp.Resoperands () %}{%if loop.first %} MiniMC::Model::Type_ptr {{t}} = expr.getToType (); 
	  {%endif %}
	  {%endfor %}
	{%if tp.NonResoperands() | length > 0 %} 
	  if (!{{type_constraint(tp) }}) {
	  messager << MiniMC::Support::TError<std::string> {MiniMC::Support::Localiser{"'%1%' does not meet it's type constraints"}.format (*{{tp.getName()}})};
	  return nullptr;
	}
	  {%endif %}
	{%endfor %}
	{{size_constraints(i)}}	
	
	
	
	
	
	
	expr.setType (expr.getToType ());
	return expr.getType();
	}
      {%endmacro %}



      {%for g,i in ISA.getPseudoGroupedInstructions () %}
	{%if i.isAssignConvertible () %}
	  {%if g.getName() == "TAC" %}
	    {{tac_instruction(i) }}	     	 
	  {%elif g.getName() =="Comparison" %}
	    {{comparison_instruction (i) }}
      	{%elif g.getName() =="Cast" %}
	  {{cast_instruction (i)}}
        {%elif g.getName() =="Pointer" %}
	    {{tac_instruction(i) }}	     	 
      {%endif %}

	{%endif %}
      {% endfor %}

       MiniMC::Model::Type_ptr TypeChecker::operator() (MiniMC::Model::LoadExpr& expr) const  {
       	auto lty = CheckType(expr.addr());
	
	MiniMC::Model::Type_ptr res = nullptr;;
	if (lty->getTypeID () == MiniMC::Model::TypeID::Pointer ) {
	  res = expr.getToType();
	}
	else {
	  messager << MustBePointerExpr{expr.addr()};
	}
	expr.setType (res);
	return res;

      }

      MiniMC::Model::Type_ptr TypeChecker::operator() (MiniMC::Model::StoreExpr& expr) const  {
       	auto addrty = CheckType(expr.addr());
	auto storeto = CheckType(expr.storeto());
	
	MiniMC::Model::Type_ptr res = nullptr;;
	if (addrty->getTypeID () == MiniMC::Model::TypeID::Pointer &&
	    storeto->getTypeID () == MiniMC::Model::TypeID::Memory
	    ) {	    
	  res = storeto;
	}
	else {	
	     messager << MustBePointerExpr{expr.addr()};
	} 
	expr.setType (res);
	return res;

      }
      
      MiniMC::Model::Type_ptr  TypeChecker::operator() (MiniMC::Model::LogNotExpr& expr) const  {
      	auto lty = CheckType(expr.op1());
	
	MiniMC::Model::Type_ptr res = nullptr;;
	if (lty->getTypeID () == MiniMC::Model::TypeID::Bool ) {
	  res = MiniMC::Model::BoolType::get();//tfactory->makeBoolType ();
	}
	else {
	  messager << MustBeBoolExpr{expr.op1()};
	}
	expr.setType (res);
	return res;
	  
      }

      MiniMC::Model::Type_ptr  TypeChecker::operator() (MiniMC::Model::NotExpr& expr) const  {
	auto lty = CheckType(expr.op1());
	
	MiniMC::Model::Type_ptr res = nullptr;;
	if (lty->isInteger() ) {
	  res = lty;
	}
	else {
	  messager << MustBeIntegerExpr{expr.op1()};
	}
	expr.setType (res);
	return res;
	  
      }

      template <class Inst>
      bool TypeChecker::doCheck(const Inst& tinst, const MiniMC::Model::Instruction& inst, const MiniMC::Model::Type_ptr& tt) {
	constexpr auto i = tinst.getOpcode (); 
        /*if constexpr (isUnary_v<Inst>) {
	  auto& content = tinst.getOps ();
	  if constexpr (i == MiniMC::Model::VMInstructionCode::Not) {
            auto resType = CheckType(*content.res);
            auto lType = CheckType(*content.op1);
            if (resType != lType) {
              messager << MustBeSameType {inst,content.res,content.op1};
              return false;
            }
            return true;
          }
        }*/

	        /*else if constexpr (i == VMInstructionCode::Trunc) {
	  auto& content = tinst.getOps ();
          auto ftype = CheckType(*content.op1);
          auto ttype = CheckType(*content.res);

	  if (!ftype->isInteger ()) {
	    messager << MustBeInteger (inst,content.op1);
	    return false;
	  }
	  if (!ttype->isInteger ()) {
	    messager << MustBeInteger (inst,content.op1);
	    return false;
	  }
	  if (ftype->getSize() <= ttype->getSize()) {
	    messager << MustBeLarger {inst,ttype,ftype};
	    return false;
          }

          return true;
	  }

        else if constexpr (i == VMInstructionCode::IntToBool) {
	  auto& content = tinst.getOps ();
	  auto ftype = CheckType(*content.op1);
          auto ttype = CheckType(*content.res);

	  if (!ftype->isInteger ()) {
	    messager << MustBeInteger {inst,content.op1};
	    return false;
	  }

	  if (ttype->getTypeID() != MiniMC::Model::TypeID::Bool) {
	    messager << MustBeGivenTypeID {inst,content.res,MiniMC::Model::TypeID::Bool};
	    return false;
	  }
	  
          return true;
        }

        else if constexpr (i == VMInstructionCode::SExt //||
                           //i == VMInstructionCode::ZExt
			   ) {
	  auto& content = tinst.getOps ();
	  auto ftype = CheckType(*content.op1);
          auto ttype = CheckType(*content.res);

          if (!ftype->isInteger ()) {
	    messager << MustBeInteger (inst,content.op1);
	    return false;
	  }
	  if (!ttype->isInteger ()) {
	    messager << MustBeInteger (inst,content.op1);
	    return false;
	  }
	  if (ftype->getSize() >= ttype->getSize()) {
	    messager << MustBeLarger {inst,ttype,ftype};
	    return false;
          }
          return true;
	}
	
        else if constexpr (i == VMInstructionCode::BoolSExt ||
                           i == VMInstructionCode::BoolZExt) {
	  auto& content = tinst.getOps ();
          MiniMC::Support::Localiser must_be_integer("'%1%' can only be applied from boolean types to  integer types. ");
          MiniMC::Support::Localiser must_be_smaller("From type must be smaller that to type for '%1%'");
	  
          auto ftype = CheckType(*content.op1);
          auto ttype = CheckType(*content.res);

	  if (ftype->getTypeID () != MiniMC::Model::TypeID::Bool) {
	    messager << MustBeGivenTypeID (inst,content.op1,MiniMC::Model::TypeID::Bool);
	    return false;
	  }
	  
          if (!ttype->isInteger () ) {
	    messager << MustBeInteger {inst,content.res};;
            return false;
          } 

          return true;
	  }*/

        /*else if constexpr (i == VMInstructionCode::IntToPtr) {
	  auto& content = tinst.getOps ();
          auto ftype = CheckType(*content.op1);
          auto ttype = CheckType(*content.res);

          if (!ftype->isInteger ()) {
	    messager << MustBeInteger {inst,content.op1};
            return false;
          }

          else if (ttype->getTypeID() != MiniMC::Model::TypeID::Pointer) {
	    messager << MustBeGivenTypeID (inst,content.res,MiniMC::Model::TypeID::Pointer);
	    return false;
          }

          return true;

	  }*/
	

        /*else if constexpr (i == VMInstructionCode::PtrToInt) {
          MiniMC::Support::Localiser must_be_pointer("'%1%' can only be applied to pointer types. ");
          MiniMC::Support::Localiser must_be_integer("Return type has to be integer for '%1%'");

	  auto& content = tinst.getOps ();
          auto ftype = CheckType(*content.op1);
          auto ttype = CheckType(*content.res);
          if (ftype->getTypeID() != MiniMC::Model::TypeID::Pointer &&
 	      ftype->getTypeID() != MiniMC::Model::TypeID::Pointer32
	      ) {
	    messager << MustBeGivenTypeID (inst,content.op1,MiniMC::Model::TypeID::Pointer);
            return false;
          }

          else if (!ttype->isInteger ()) {
	    messager << MustBeInteger (inst,content.res);
            return false;
          }

          return true;
	  }
        
	       else if constexpr (i == VMInstructionCode::Store) {
          MiniMC::Support::Localiser must_be_pointer("'%1%' can only store to pointer types. ");

	  auto& content = tinst.getOps ();
          auto addr = CheckType(*content.addr);
          if (addr->getTypeID() != MiniMC::Model::TypeID::Pointer &&
	      addr->getTypeID() != MiniMC::Model::TypeID::Pointer32
	      ) {
	    messager << MustBeGivenTypeID (inst,content.addr,MiniMC::Model::TypeID::Pointer);
            return false;
          }

          return true;
        }
	
	
        
	
        else */if constexpr (i == VMInstructionCode::Skip) {
          return true;
        }
	
        else if constexpr (i == VMInstructionCode::Call) {
	  if (!prgm) {
	     messager	<< MiniMC::Support::TWarning<std::string> {"It's only possible to properly type check function Calls with a program context"};
	     return true   ;
	  }  
	  MiniMC::Support::Localiser function_not_exists("Call references unexisting function: '%1%'");
	  MiniMC::Support::Localiser function_is_var_args("Call to var_args_functions '%1%'. Skipping parameter compatibility.");
	  auto& content = tinst.getOps ();
	  auto fun = content.function;
	  auto func = MiniMC::Model::visitValue<MiniMC::Model::Function_ptr>(
						
						MiniMC::Model::Overload{
						  [&function_not_exists,this](const MiniMC::Model::Pointer& val) -> Function_ptr {
						    auto ptr = val.getValue ();
						    if (prgm->functionExists (ptr.base))
						      return prgm->getFunction (ptr.base);
						    else {
						      messager << MiniMC::Support::TError<std::string> {function_not_exists.format(MiniMC::Model::getFunctionId(ptr))};
						      return nullptr;
						    }
						  },
						    [this,&function_not_exists](const MiniMC::Model::Pointer32& val) -> Function_ptr {
						      auto ptr = val.getValue ();
						      if (prgm->functionExists (ptr.base))
							return prgm->getFunction (ptr.base);
						      else {
							messager << MiniMC::Support::TError<std::string> {function_not_exists.format(ptr.base)};
							return nullptr;
						      }
						    },
						    [this](const MiniMC::Model::SymbolicConstant& sc) -> Function_ptr {
						      return prgm->getFunction (sc.getValue ());
						    },
						    [&fun,&inst,this](const auto&) -> Function_ptr {
						      messager << MustBeConstant {inst,fun};
						      return nullptr;
						    }
						    },
						*fun
						);
	    
	  
	  if (!func) {
	    return false;
	  }
	  
	  MiniMC::Support::Localiser inconsistent_parameters("Inconsistent number of parameters between call and function prototype '%1%'");
	  if (!func->isVarArgs ()) {
	    if (func->getParameters().size() != content.params.size() ) {
	      messager << MiniMC::Support::TError<std::string> {inconsistent_parameters.format (func->getSymbol ().getName ())};
	      return false;
	    }
	    
	    auto nbParams = content.params.size();
	    auto it = func->getParameters().begin();
	    
	    for (size_t j = 0; j < nbParams; j++, ++it) {
	      auto form_type = CheckType(*(*it));
	      auto act_type = CheckType(*content.params.at(j));
	      if (form_type != act_type) {
		messager << MustBeGivenType {inst,*it,act_type};

		return false;
	      }
	    }
	  }
	  else {
	    messager << MiniMC::Support::TWarning<std::string> {function_is_var_args.format (func->getSymbol ().getName ())};
	  }
	  if (content.res) {
	    auto resType = CheckType(*content.res);
	    if (resType != func->getReturnType()) {
	      messager << MiniMC::Support::TError {inconsistent_parameters.format (func->getSymbol ().getName ())};
	      return false;
	    }
	  }
	
	return true;
	}

        else if constexpr (i == VMInstructionCode::Assign) {
	  auto& content = tinst.getOps ();
	  auto valT = CheckType(*content.op1);
          auto resT = CheckType(*content.res);
	  if (valT != resT) {
	    messager << MustBeSameType {inst,content.op1,content.res};
            return false;
          }
          return true;
        }

        else if constexpr (i == VMInstructionCode::Ret) {
	  auto& content = tinst.getOps ();
	  if (tt != CheckType(*content.value)) {
            messager << MustBeGivenType {inst,content.value,tt};
	    
            return false;
          }
          return true;
        }

        else if constexpr (i == VMInstructionCode::RetVoid) {
          if (tt->getTypeID() != MiniMC::Model::TypeID::Void) {
            MiniMC::Support::Localiser must_be_same_type("Return type of function with '%1%' must be void  ");
            messager << MiniMC::Support::TError {must_be_same_type.format(MiniMC::Model::VMInstructionCode::RetVoid)};
            return false;
          }
          return true;
        }

        else if constexpr (i == VMInstructionCode::NonDet) {
	  auto& content = tinst.getOps ();
	  auto type = CheckType(*content.res);
          if (!type->isInteger ()) {
            messager << MustBeInteger {inst,content.res};
	    return false;
          }

          return true;
        }

        else if constexpr (i == VMInstructionCode::Assert ||
                           i == VMInstructionCode::Assume ) {
          auto& content = tinst.getOps ();
          auto type = CheckType(*content.expr);
	  if (type->getTypeID() != MiniMC::Model::TypeID::Bool 
	   ) {	      
	    messager << MustBeGivenTypeID {inst,content.expr,MiniMC::Model::TypeID::Bool};
            return false;
          }
          return true;
        }

	else if constexpr (i == VMInstructionCode::ExtractValue ||
                           i == VMInstructionCode::InsertValue
			   ) {
          auto& content = tinst.getOps ();
	  if (!content.offset->getType ()->isInteger ()) {
	    messager << MustBeInteger {inst,content.offset};
            return false;
          }

	  if (!content.aggregate->getType ()->isAggregate ()) {
	    messager << MustBeGivenTypeID {inst,content.aggregate, MiniMC::Model::TypeID::Aggregate};
            return false;
          }

	  if constexpr (i == VMInstructionCode::InsertValue) {
	    auto& content = tinst.getOps ();
	    if (!CheckType(*content.res)->isAggregate ()) {
	      messager << MustBeGivenTypeID {inst,content.res, MiniMC::Model::TypeID::Aggregate};
            return false;
	    }
	  }
	  
	  return true;
        }
        
        else if constexpr (i == VMInstructionCode::BitCast) {
          MiniMC::Support::Localiser warning("TypeCheck not fully implemented for '%1%'");
	  messager << MiniMC::Support::TWarning {warning.format(i)};
          return true;
        }

        else if constexpr (i == VMInstructionCode::Uniform) {
	  auto& content = tinst.getOps ();
          if (!MiniMC::Model::isSameType({CheckType(*content.res),
		CheckType(*content.max),
		CheckType(*content.min)})) {
	    messager << MustBeGivenType {inst,content.min,content.res->getType ()};
	    messager << MustBeGivenType {inst,content.max,content.res->getType ()};
	    
	    return false;
          }

          if (!content.res->getType()->isInteger ()) {
	    messager << MustBeInteger {inst,content.res};
            return false;
          }

          return true;
        }

        else {
          []<bool b = false>() { static_assert(b && "cannot type check instruction"); }
          ();
        }
      }

      bool TypeChecker::Check(MiniMC::Model::Function& F) {
      	bool res{true};
	for (auto& E : F.getCFA().getEdges()) {
	  const auto& instrkeeper = E->getInstructions ();
	  if (instrkeeper) {
	    for (auto& I : instrkeeper) {
	      if (!I.visit ([this,&F,&I](auto& instr) {
		return doCheck (instr,I,F.getReturnType ());
	      })) {
		res = false;
	      }
	    }
	  }
	}
	return res;
      }
      
      bool TypeChecker::Check(const MiniMC::Model::Program& p) {
        prgm = &p;
        bool res = true;
        for (auto& F : prgm->getFunctions()) {
	  res = res && Check (*F);
        }
	prgm = nullptr;
        return res;
      }
    } // namespace Checkers
  }   // namespace Model
} // namespace MiniMC
