name: C/C++ CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    container: ubuntu:latest
    steps:
    - uses: actions/checkout@v2
    - name: BuildDep
      run: apt-get update && apt-get -y install libtinfo-dev zlib1g-dev git g++-12 cmake libboost-dev libboost-program-options-dev cvc4 libcvc4-dev libcln-dev
    - name: Setup
      run: mkdir build && cd build && cmake -DCMAKE_CXX_COMPILER=g++-12 -DCMAKE_BUILD_TYPE=Release ..
    - name: build
      run: cd build && make
    - uses: actions/upload-artifact@v2
      with:
        name: build 
        path: build/*.zip 
